[2013-06-28 10:31] HouzuoGuo opened #1 "Range query support"
Currently tiedot only supports hash table index, it will be very helpful to add another index type to support range queries.

[2013-06-28 11:45] HouzuoGuo opened #2 "Properly replicate the repository under the domain name, to support "go get""
package is currently hosted on github only, which means "go get" will not work.

I better set it up properly on my domain host "loveoneanother.at"

[2013-06-28 13:15] HouzuoGuo opened #3 "Show more benchmark results in wiki"
farmdawgnation suggested (and I whole heartedly agree) that the following benchmark results will be interesting to look at (and useful to know):
- how tiedot performs when mapped region size is greater than available memory size
- performance comparison with mainstream NoSQL solutions.

[2013-06-28 13:40] HouzuoGuo opened #4 "Document tiedot's stance on ACID properties"
Currently the wiki pages make no mention about the tiedot's ACID properties.

The answer will be similar to MongoDB VS ACID, but should be documented.

[2013-06-28 13:50] HouzuoGuo opened #5 "Provide better redundancy by continuous data replication"
Continuous data replication seems to be industrial best practice at improving both scalability and availability of NoSQL database solutions.

And this should be a wonderful programming exercise.

[2013-06-28 20:25] ericol opened #7 "No Windows??? BAD CODER!!!"
Hi there,
I tried to run this on window... to no avail. Basically, Go for windows does not support mmap and its siblings.

Not being the type that backs up that easily, I set to _try_ to solve it (Bear in mind, I had Go installed locally because I found a nice tutorial few days ago, but haven't actually used it and have zero experience with the language).

I found online a Go package that is suppo

[2013-06-29 02:38] HouzuoGuo opened #8 "Gopher is cut in half by line break"
Github appears to put a line break after heading 1, and the line break unfortunately cuts gopher bunny into halves...

[2013-06-29 09:32] smartrevolution opened #9 "Unmarshal from collection to struct"
If you change the signature of the Read-Method, then it would be easier to directly unmarshal into go-structs. Now, Read() always returns a Map, because the return value is an interface{}.

Let's take a struct and insert a record:
type Person struct {
    Firstname string
    Lastname  string
}

People := myDB.Use("People")
doc := Person{"Rob", "Pike"}
docID, err := People.Insert(doc)

Currently t

[2013-07-01 06:00] #8 closed, assigned to nobody

[2013-07-01 09:36] #2 closed, assigned to HouzuoGuo

[2013-07-01 11:44] HouzuoGuo opened #10 "Give each document a unique and persistent ID"
Currently database does not assign a persistent and unique ID to collection documents, but it is very helpful to have such unique ID in each document.

[2013-07-01 11:49] HouzuoGuo opened #11 "Support collection join and aggregation methods"
tiedot could become much more useful when join and aggregation are introduced!

How about having a join query like this:

{"join": "collection 1", "with": "collection 2", "left": "name", "right": "person_name", "limit": 12}

And an aggregation like this:

{"aggregate": "collection 1", "by": ["field1", "field2"], "fun": "sum"}

[2013-07-02 06:19] #9 closed, assigned to smartrevolution

[2013-07-03 06:24] HouzuoGuo opened #13 "Mapped file buffers are not periodically synchronized with storage device"
tiedot currently let operating system decide timing of file buffer synchronization.

Golang is not quite good at mmap, its standard library does not handle memory mapped files in a cross platform manner. `msync` is not even available in the standard library. But the common practice for a document database is to periodically (every 30 seconds or minute) flush file buffers, usually via `msync` call.

[2013-07-03 06:37] #4 closed, assigned to HouzuoGuo

[2013-07-04 12:39] #3 closed, assigned to HouzuoGuo

[2013-07-04 22:53] HouzuoGuo opened #14 "Send content type in HTTP response header"
Server response should contain "content-type" header.

[2013-07-05 06:30] #14 closed, assigned to HouzuoGuo

[2013-07-12 05:30] #13 closed, assigned to HouzuoGuo

[2013-07-12 10:14] #7 closed, assigned to HouzuoGuo

[2013-07-21 18:35] ocrumbs opened #15 "Greater than, Lesser than Query?"
Is >, < query possible? If so, how can I do it?

Example Documents :

{"Age": "8", "Name":"Pat"}
{"Age": "9", "Name":"Kat"}
{"Age": "10", "Name":"John"}
{"Age": "11", "Name":"George"}
{"Age": "12", "Name":"Matt"}
{"Age": "13", "Name":"Richard"}
{"Age": "14", "Name":"Doe"}

Example Query : [">", {"eq": "9", "limit": 5, "in": ["Age"]}]

Result :

{"Age": "10", "Name":"John"}
{"Age": "11", "Name":"Ge

[2013-07-23 22:20] #15 closed, assigned to nobody

[2013-08-04 07:15] tonyw opened #16 "dependence error of loveoneanther.at"
package loveoneanther.at/tiedot/db: unrecognized import path "loveoneanther.at/tiedot/db"

[2013-08-06 11:56] tonyw opened #18 "I think we should show more example for query."
I am a new guy for document db.So it's really difficult for me to run a query.So I think we should give more for new guys
thanks

[2013-08-12 10:40] #16 closed, assigned to nobody

[2013-08-14 05:02] ifq opened #19 "is this performance ok on my virtualbox?"
my laptop is i7 2.8G, 8G memory(3G for virtualbox),  host OS win7, client OS linux mint 3.2.0-23-generic #36-Ubuntu SMP.

this is my test log:

[code]

is this normal? seems very poor.. and CPU seems not reach 100%, is this caused by some I/O bandwidth issue?

[2013-08-14 12:30] ifq opened #20 "does tiedot support concurrnet access？"
like insert two doc in two goroutines at same time?

[2013-08-15 04:31] #20 closed, assigned to nobody

[2013-08-17 14:29] ifq opened #21 "EvalQuery problem"
according to example.go,

[code]

`EvalQuery` returns `result`, which has key and value. but I printed value, it always be nil.

[2013-08-17 20:55] #21 closed, assigned to nobody

[2013-09-21 06:23] #18 closed, assigned to HouzuoGuo

[2013-09-28 23:39] HouzuoGuo opened #22 "Limited scalability on Intel Xeon CPUs"
tiedot seems to scale well enough on conventional desktop/workstation/laptop CPUs, but it shows very limited scalability on Intel Xeon CPUs.

[2013-10-01 07:40] #5 closed, assigned to HouzuoGuo

[2013-10-01 23:26] HouzuoGuo opened #23 "Investigate IO queuing and its benefits"
Investigate how introducing IO queues can benefit tiedot's operation.

The IO queues will operate on:
- document CRUD
- hash bucket CRU

[2013-10-04 11:31] nu11gravity opened #24 "Tiedot has memory issues with many collections and <256MB of RAM"
fatal error: runtime: out of memory

goroutine 1 [running]:
runtime.throw(0x71e777)
        /usr/local/go/src/pkg/runtime/panic.c:464 +0x69 fp=0x7f2c829f5768
runtime.SysMap(0xc216100000, 0x8000000, 0x72c538)
        /usr/local/go/src/pkg/runtime/mem_linux.c:131 +0xfe fp=0x7f2c829f5798
runtime.MHeap_SysAlloc(0x736480, 0x8000000)
        /usr/local/go/src/pkg/runtime/malloc.goc:473 +0x10a fp=0x7f2c8

[2013-10-06 19:47] #10 closed, assigned to HouzuoGuo

[2013-10-07 23:20] #24 closed, assigned to nobody

[2013-10-07 23:22] #19 closed, assigned to nobody

[2013-10-09 00:08] kardianos opened #25 "What license are you releasing this as?"
Are you releasing this as your choice of Public Domain or BSD?

[2013-10-09 00:22] #25 closed, assigned to nobody

[2013-10-10 21:35] HouzuoGuo opened #26 "Support RPC as API"
For some usages, the additional overhead of HTTP protocol can be a waste of bandwidth and CPU cycles. Let's support RPC as well.

[2013-10-19 21:55] mandolyte opened #27 "Regular Expression Operator"
I'm new to document databases and I wondered whether regular expression support would be useful. You could always do this on the client side, but a large result set could be slow (large amount of data being returned to client over network connection).

If the regex was implemented on the server side, wouldn't that be more efficient?

I'm enjoying tiedot, thanks!

[2013-10-21 06:52] Archs opened #28 "package loveoneanother.at/tiedot: unrecognized import path "loveoneanother.at/ti edot""
When using `go get  loveoneanother.at/tiedot`, the cmd just finished with message:
`package loveoneanother.at/tiedot: unrecognized import path "loveoneanother.at/ti
edot"`

And the code could not be downloaded, so what's wrong?

[2013-10-21 23:57] #28 closed, assigned to nobody

[2013-11-07 19:53] #27 closed, assigned to HouzuoGuo

[2013-11-09 16:31] HouzuoGuo opened #31 "Support indexing and querying objects in JSON array"
This will likely require:
- Write new methods for adding/removing array element index
- Refactor collection "GetIn" function
- Rewrite certain parts in query processor

[2013-11-10 16:31] achun opened #32 "to type more easily"
recommend
change "int-from" and "int-to" to "int from" "int to"
:)

[2013-11-11 19:35] #32 closed, assigned to nobody

[2013-11-11 20:22] #31 closed, assigned to nobody

[2013-11-18 22:06] Asmyort opened #33 "I can't Install, please can someone help me?"
I have a virtualbox with o.s arch linux, but I don't know where I have to install, I did it:
1. created tiedot folder on Desktop, I did export GOPATH='pwd' and then go get...
   when I did go get I looked two msj: open pws/src/loveoneanother.at/tiedot/gommap/mmap.go: No such file or directory,
   the same messaje for /pws/src/loveoneanother.at/tiedot/uid/uid.go
2. when I wrote ./bin/tiedot ... don

[2013-11-19 14:01] #33 closed, assigned to nobody

[2013-11-20 19:28] HouzuoGuo opened #34 "Make a web control panel"
Go has excellent built-in support for web development, therefore it makes a lot of sense to develop a tiedot web control panel using Go.

Proposed features:
- Overview of server performance and databases
- Document management
- Index management
- Query executor

[2013-11-28 07:43] HouzuoGuo opened #35 "Online database dump (backup)"
Just another nice-to-have feature.

[2013-11-28 12:48] meddulla opened #36 "Out of memory error running bench3 with 500000 records"
Hi,

I was looking into tiedot and was running the benchmark with UID's with 500000 as benchsize (./tiedot --mode=bench3 --benchsize=500000). I get this error:

runtime: memory allocated by OS (0xb0514000) not in usable range [0x11407000,0x91407000)
fatal error: out of memory

Is this a bug or a known limitation due to the use of memory mapped files?

[2013-12-03 05:35] HouzuoGuo opened #37 "Make more embedded usage examples"

[2013-12-07 00:05] robotamer opened #38 "Error with go 1.2"
I know your docs say go 1.1.2

Just letting you know

/github.com/HouzuoGuo/tiedot/gommap.a: object is [linux amd64 go1.1.2 X:none] expected [linux amd64 go1.2 X:none]

[2013-12-08 10:42] #35 closed, assigned to HouzuoGuo

[2013-12-08 12:57] #37 closed, assigned to HouzuoGuo

[2013-12-08 18:52] olekukonko opened #39 "Why 130MB Initial Bucket on windows ?"
Just curios why `tiedot` need to create initial `130MB` file for `_uid` & `data` on windows. That is `260MB` wasted without a inserting any documents.

[2013-12-10 18:49] HouzuoGuo opened #40 "Make a -verbose flag to control display of verbose log messages"
Less important log messages will be silenced by `-verbose=false`.

By default, `-verbose` is true.

[2013-12-13 11:33] #36 closed, assigned to nobody

[2013-12-13 11:34] #38 closed, assigned to nobody

[2013-12-29 00:34] #40 closed, assigned to nobody

[2014-01-02 08:46] HouzuoGuo opened #41 "Is anybody attending FOSDEM 14 in Brussels?"
Hello!

Is anybody attending FOSDEM 14 in Brussels? I will talk about tiedot as a lightning talk topic.

Check this out:

https://fosdem.org/2014/schedule/track/go/

[2014-01-06 16:42] tejo opened #42 "upstart question"
Hi,

I use tiedot (happly) in embed mode, all works fine, but If I try to run the app proxed by ngnix and runned by upstart tiedot crashes with a "slice bounds out of range" probably due to a data race. Any ideas/clues?

thanks

Teo.

logs:

[code]

[2014-01-06 19:14] #42 closed, assigned to nobody

[2014-01-08 02:59] shmakes opened #43 "Why no JSON query response option?"
If using tiedot in stand-alone http server mode, it seems odd that a query request is structured as JSON but the response is not JSON.

If you want to write a quick JavaScript browser app to work with data in tiedot, you would always need to wrap the query response before parsing it to JSON.  Also, you can pass a query to tiedot in the address bar of a browser, but if you have an extension like JS

[2014-01-11 21:24] pericazivkovic opened #44 "Query for latest articles by date/time"
If I have 1000 objects (articles) and every article has an "Created" date property, which is UTC serialized date/time string (e.g. "2014-01-11T12:16:11.38920392Z")

 1.) How can I create query that will return 10 most recent articles?
 2.) How can I return all articles from certain month (e.g. November 2014)?

What would be the best approach to use to be able to do 1.) and 2.) ?

[2014-01-13 20:34] #44 closed, assigned to nobody

[2014-01-18 14:34] #43 closed, assigned to nobody

[2014-01-18 14:34] #39 closed, assigned to nobody

[2014-01-21 20:48] HouzuoGuo opened #45 "Move DB dump implementation out of HTTP API"
To keep logics separated from API, DB dump implementation should be moved out of API implementation.

Create a func `db.Dump(dest string)` and invoke it from HTTP API.

[2014-01-23 13:21] jbenet opened #46 "struct (un)marshal"
Hey, tiedot's great.

It would be good if tiedot supported direct struct marshal/unmarshal. There's no reason it shouldn't, as `encoding/json` supports it, and that's what tiedot's using.

I see that the reason the interface has `map[string]interface{}` is to add the id field. Is this necessary? Or, could reflection be used? (structs could include the id field).

[2014-01-23 13:23] jbenet opened #47 "Upsert"
Sometimes, it's silly to have to check if the object is there first (i.e. update err). An upsert call would be useful.

[2014-01-24 00:45] jbenet opened #48 "Order?"
Currently, there is no way to order queries. This would be great.

It probably requires a different type of index (as is described for better range queries).

[2014-01-30 19:07] #41 closed, assigned to nobody

[2014-01-30 19:07] #47 closed, assigned to nobody

[2014-01-30 19:08] #48 closed, assigned to nobody

[2014-02-02 15:47] olekukonko opened #49 "FOSDEM"
Saw your talk ... Well done. It would be nice if you add more time. :+1:

[2014-02-12 16:07] ozonesurfer opened #50 "Difficulty storing id's in data"
I have the following code:

package main

import (
    "fmt"
    "github.com/HouzuoGuo/tiedot/db"
    "math/rand"
    "os"
    "time"
)

func main() {
    fmt.Println("Hello World!")
    rand.Seed(time.Now().UTC().UnixNano())
    database, err := db.OpenDB("\tmp\sandbox1")
    if err != nil {
        fmt.Println("Database open error", err)
        os.Exit(1)
    }
    //  database.Create("names",

[2014-02-13 16:24] #50 closed, assigned to nobody

[2014-02-13 17:35] HouzuoGuo opened #51 "Fix two embedded usage pitfalls"
Pitfall : User may forget to initialize random number generator
Proposed fix: Initialize the Go pseudo random number generator by feeding seed from crypto/rand upon opening a database

Pitfall 2: Type conversion failure caused missing index content.
Proposed fix: Log an error message when such type conversion failure occurs.

[2014-02-22 19:30] #49 closed, assigned to nobody

[2014-03-07 17:45] bnyeggen opened #52 "Parameterized queries"
Using tiedot in embedded mode, one often wants to create a query based on user input.  There isn't really a safe / easy way to do this at the moment.  Concatenating user-supplied strings could embed things that muck up your JSON (analogous to SQL injection).  Substituting a string in your final marshaled JSON object requires you to write a decent amount of specific code & casts for each parameteri

[2014-03-10 21:33] #52 closed, assigned to nobody

[2014-05-04 11:39] #11 closed, assigned to HouzuoGuo

[2014-05-15 10:10] metakeule opened #54 "Why not use UUIDs?"
Is there any reason apart from space requirements that
the generated ids are no UUIDs. That would make it easier to
synchronized different tiedot databases.

[2014-05-26 19:07] #51 closed, assigned to HouzuoGuo

[2014-05-29 20:01] eduncan911 opened #55 "Embedded - Scaling out?"
Are there concerns with running multiple instances of the embedded engine across multiple web servers/VMs?  What about multiple instances sharing the same file system?

For example, I can setup and run an instance of Go on Windows Azure Web Sites as well as Rackspace Website Cloud - both of which uses shared file systems, most likely attached via network.

Are their concurrency issues with multipl

[2014-05-31 11:38] #45 closed, assigned to nobody

[2014-05-31 12:43] #55 closed, assigned to nobody

[2014-06-01 19:59] Sekhmet opened #56 "How to contribute to tiedot"
Hi.
I'm beginner in Go programming, but I'd like to contribute to this awesome project.
I don't really know how to manage project bigger than few files in Go.
I've confront a problem. I've cloned tiedot, but in main.go there are imports pointing to your repository.
What I have to do to manage this (I think that changing these import to my repository isn't good idea - when committing and merging th

[2014-06-02 10:41] HouzuoGuo opened #57 "Make query processor more friendly for embedded usage"
Currently, the query processor assumes input to be coming from deserialized JSON, therefore some query options such as `limit` and `int-from` are expected to be of type float64, which is awkward in embedded usage scenarios.

Change the behaviour so that during query processing, int, int64, uint64 are acceptable when JSON integer is expected.

[2014-06-02 16:22] #56 closed, assigned to nobody

[2014-06-04 20:53] ClaesBas opened #58 "Failed to run the "tiedot -mode=example" with /tmp on ramdisk (tmpfs on Ubuntu)"
$ mount

[code]

$ go build && ./tiedot -mode=example

[code]

$ git log |head -n5

[code]

$ go version

[code]

OS=Ubuntu 13.10

$ du -sh /tmp/MyDatabase ;#After the "crash"

[code]

If I change the code to create the database in ~/tmp/MyDatabase and comment out the defer of the DB, test works and du of the DB gives:
$ du -sh ~/tmp/MyDatabase

[code]

Something is strange here!?

The combo of GO

[2014-06-08 07:12] HouzuoGuo opened #59 "Make a more appealing homepage"
tiedot is a serious project, but the homepage looks semi-serious at the moment, would be good to have a fancier homepage.

[2014-06-30 06:43] #34 closed, assigned to nobody

[2014-06-30 06:44] #58 closed, assigned to nobody

[2014-06-30 06:59] #23 closed, assigned to HouzuoGuo

[2014-06-30 07:21] #22 closed, assigned to HouzuoGuo

[2014-07-02 02:19] lukeholder opened #61 "go get tiedot requires mercurial?"
when doing a go get on tiedot i am getting this error:

![](http://dl.dropboxusercontent.com/s/octnht6z580olsa/2014-07-02%20at%2010.17%20am.png)

Why is it trying to call hg?

I have my GOPATH etc working fine.

[2014-07-02 07:22] ifq opened #62 "overflow error when compiling"
[code]

on virtualbox , 32bit linux mint17.

[2014-07-02 15:06] inmylo opened #63 "Cannot compile [02.07.2014]"
Hi,

All source code files are downloaded with required packages, but after "go install" from tiedot main folder I get:

$ go install
github.com/HouzuoGuo/tiedot/data
data/hashtable.go:36: constant 3735928559 overflows int

So the code cannot be compiled at the moment as "out of the box". Commenting out line 36 helps, but probably you have another plan how to fill "key" variable as INT.

[2014-07-05 13:10] algebraic-brain opened #64 "DataFile-related errors under windows 7"
Hi,

There are datafile-related errors while testing tiedot/data under windows 7 (go version go1.2.2 windows/amd64)

For example:

=== RUN TestFindingAppendAndClear
--- FAIL: TestFindingAppendAndClear (0.00 seconds)
    file_test.go:78: truncate /tmp/tiedot_test_file: The requested operation cannot be performed on a file with a user-mapped section open.

I think the following error while testing t

[2014-07-07 10:45] #63 closed, assigned to nobody

[2014-07-07 10:45] #62 closed, assigned to nobody

[2014-07-07 16:12] #61 closed, assigned to nobody

[2014-07-12 15:25] HouzuoGuo opened #65 "Web control panel: index management button does not work"
Hey David.

There is one last remaining issue with the index management feature. On your last commit d8b2f99c16af366280ad7a064e5eaa89641cff48 the index management button does nothing when clicked. There is also an error message saying it cannot load document on page NaN. Could you please take a look?

By the way, I noticed that the page list did not show the last page number, and fixed it in commi

[2014-08-02 08:06] #64 closed, assigned to nobody

[2014-08-12 06:40] slav123 opened #66 "access from host other then local"
i'm trying to reach API from hosts other then localhost and can't...

[code]

same think from locahost

[code]

[2014-08-12 22:53] #66 closed, assigned to nobody

[2014-08-23 20:08] wojons opened #67 "Websocket Protocol Spec"
Websocket Protocol API
===================

Objective
------------
* Streaming of Reads Result Set
* Asynchronous Write Requests.
* Asynchronous Read Requests

Goals
--------
The focus of the WebSocket API is to improve performance of high throughput components of tiedot. For example Being able to request a read cursor for results sets. This will help control memory usage on the client side not ne

[2014-08-24 23:54] jaeyeom opened #68 "constant 3735928559 overflows int"
github.com/HouzuoGuo/tiedot/data/hashtable.go:43: constant 3735928559 overflows int

I am compiling tiedot from ARM based Linux Raspbian on my Raspberry Pi and I got the above message. Go version 1.3.

[2014-08-28 18:30] #65 closed, assigned to davesters

[2014-09-29 13:07] digitalcrab opened #69 "Error constants"
Hello!
It's will be create to have error constant/variable to be able to compare result of read operation (for example)

[code]

[2014-09-29 13:23] digitalcrab opened #70 "Random document Ids?"
OMG, I am so confused

[code]

This is the code of doc.go file, is that true?
What about duplicated Ids?

[2014-09-30 07:14] #70 closed, assigned to nobody

[2014-10-03 15:48] #69 closed, assigned to omeid

[2014-10-17 10:42] gavv opened #72 "Possible bug with intersect queries"
Hello, these two queries produce different results for some reason:

1.

[code]

2.

[code]

Full example: https://gist.github.com/gavv/4c3cdb850601c9460f2e
Output:

[code]

Is this a bug?

PS. I'm using the latest commit from master.

[2014-10-20 13:09] #72 closed, assigned to nobody

[2014-11-02 03:47] gertcuykens opened #74 "JWT Authorization API"
Based on `github.com/dgrijalva/jwt-go` implementation. I was wondering if a generic verification system can be achieved through a `Authorization` header?

The API should just define which kind of tokens `tiedot` expect before it will execute the query.

Generating the tokens itself is done by a separate server following the API specification. The goal of this is that webpages can interact with the

[2014-11-11 05:27] Xinaction opened #76 "How to import a json file to tiedot"
I have some json files want to import into the tiedot, I can't find how to import them into tiedot in the docs.

[2014-11-19 08:17] #76 closed, assigned to nobody

[2014-11-27 01:41] gertcuykens opened #77 "Webcp id field"
@davesters Could it be there is a bug that you can not use a id field in the json document?

When I look at the code i can see that the json.id is been deleted before showing the document?

For example try saving
[code]

[2014-12-24 17:59] ntsai opened #79 "关于32位系统"
我是使用32位的嵌入式 ARM linux系统，我希望能使用 tiedot，我要怎么配置hashtable.go 这个文件来避免32位2GB的问题呢？

[2015-01-08 05:15] HouzuoGuo commented on #79
How's everything? Did you successfully use tiedot on ARM system?

[2015-01-12 06:13] HouzuoGuo commented on #79
I hope that tiedot will perform well on your hardware platform. Feel free to come back and ask anything!

[2015-01-12 06:13] #79 closed

[2015-01-18 16:51] HouzuoGuo commented on #67
This one perhaps will not be done anytime soon, closing it for now.

[2015-01-18 16:51] #67 closed

[2015-01-18 16:52] HouzuoGuo commented on #26
This one perhaps will not be done anytime soon, closing it for now.

[2015-01-18 16:52] #26 closed

[2015-01-18 16:56] HouzuoGuo commented on #74
webjwt progress has been merged into master. Still open todos:

- Document JWT usage and new APIs
- Remove automatic sha512 hashing on credentials, leave it up to the user.
- Bring back webcp
- More extensive testing

[2015-01-23 06:31] ntsai commented on #79
已经可以了。 但是 collection scan 没用。 现在是当做 ARM 机子上的数据简单保存。性能可以。

[2015-01-23 22:39] gertcuykens commented on #74
JWT Authorization API is completed remaining issues will be handled in new webcp.

[2015-01-23 22:39] #74 closed

[2015-02-09 03:08] rocaltair opened #83 "Works with other Language or Process"
I wonder if tiedot can give a mode of fifo implementation.

for example:
in C:
[code]

Or tiedot watches plenty of fifo files other than only one.

thanks.

[2015-02-09 08:42] HouzuoGuo commented on #83
That would be a really useful addition. How about using unix domain sockets for bi-directional data?

[2015-02-09 10:55] rocaltair commented on #83
yeah, you're right. It's a better way to use unix domain sockets.
In that case, we can also fork a new process to start tiedot, and do my own logical things in the parent process.

maybe you need design a protocol, for example:
[code]

considering concurrency and timing sequence, it seems like that there is a long long way to go...
or maybe we can create several channels, and each channel keeps or

[2015-02-09 12:39] HouzuoGuo commented on #83
The branch "singlethread" uses an IPC approach to provide communication across database servers for sharding; it uses domain sockets and a fairly simple binary protocol, which could be extended to interoperate with C.
"singlethread" could use some more time to get ready though.

[2015-02-09 17:46] HouzuoGuo opened #84 "Avoid creating sparse files"
For some reason unknown, data files created by tiedot are sparse under certain OS/FS combinations.

Try figure out why it happens and always create full-size files.

[2015-02-10 01:46] rocaltair commented on #83
ok, thank you.

[2015-02-10 13:48] HouzuoGuo commented on #84
resolved in https://github.com/HouzuoGuo/tiedot/commit/4f6b950a115c15504d3ca1675bf0f2abe97b2ecf

https://github.com/HouzuoGuo/tiedot/commit/a170f27b2ec7d7a4a7c5d44e26edace356c48b20

[2015-02-10 13:48] #84 closed

[2015-02-13 17:06] omeid opened #85 "Where is webcp?"
It seems like webcp was deleted in 0239f5d7990719d76ac6a8efb9fdad9eb7973371 without any documentation. Was this intentional?

[2015-02-13 23:34] gertcuykens commented on #85
Currently webcp does not display columns that are named id.

I tried to fix it https://github.com/HouzuoGuo/tiedot/issues/77 but its hidden somewhere deep in the framework. At the moment webcp is not supported anymore we can only include it if at least one developer can support it.

Also now that we have cors support, the new webcp will be standalone I think its makes for a better executable witho

[2015-02-14 06:58] omeid commented on #85
Alright, so I just update [some docs](github.com/HouzuoGuo/tiedot/wiki/Limitations) to reflect that.

I am closing this issue for now but if anyone wants to work on a new webcp, I will be happy to help.

[2015-02-14 06:58] #85 closed

[2015-02-15 07:32] mcastilho commented on #85
I kinda like that its gone... Always thought the webcp was a big distraction to the dev team in building up a reputable database core engine...

[2015-02-15 08:54] HouzuoGuo commented on #85
Regarding the removal of webcp, I made a note in version history:
https://github.com/HouzuoGuo/tiedot/wiki/Version-History

There were two major difficulties with the webcp application:
- After being built and packaged into RPM, the gorice assets do not load anymore.
- The special handling of document attribute "id" from API version 2 causes some trouble in API version 3. I could not work around i

[2015-02-16 10:26] HouzuoGuo commented on #77
With the temporary removal of webcp in release 3.2, this is no longer an issue.

[2015-02-16 10:26] #77 closed

[2015-02-22 15:11] geoah commented on #46
Seems that these have been introduced in 3.2, is this stable to use or not yet ready?

[2015-02-23 06:39] HouzuoGuo commented on #46
@geoah This is a trivial feature and I forgot about it during 3.2, sorry! Actually the interface between 3.0 and 3.2 have not changed.
It should be really simple to write, let me see if I can get it done in the next several days.

[2015-03-10 15:01] geoah commented on #54
First of all I'd like to say +1 for UUIDs (v4 preferably).

---

That been said; I would like to ask if this could be modified/hacked a bit to allow inserting, reading, updating, removing using custom String IDs.

I have some collections where the objects need to retain their original ID that come from an external system/api. The IDs are strings (SHA1 hex strings if anyone is keeping score) and mu

[2015-03-10 15:51] HouzuoGuo commented on #54
@geoah Thanks for your feedback!
The reason of choosing integer as document ID is for better efficiency. Back in version 1.x, there was a version using generated UUID as an alternative to document ID (that was version 1.2 or something), but it used a flawed implementation that could occasionally lead to incorrect query results.
Each document ID is associated with a physical location in document da

[2015-03-11 22:54] geoah commented on #54
@HouzuoGuo Thank you for the clarification and help on this.

If I may hijack the thread for just one more second, I came up with the following simple implementation.
https://github.com/geoah/ink-haiku/blob/104275bd6ba369923be807b26bb7b6eb3275e645/store.go
Any suggestions/ideas on the basic concept? It is missing some proper error returns etc but I was just wondering it this is what you where talk

[2015-03-12 08:28] HouzuoGuo commented on #54
@geoah
Your implementation is really good, in fact I wrote a very similar one back in version 1.2  :smiley:
The flaw in both of our implementations is the lack of atomicity in document operations. You perhaps have noticed it in insert/upsert operation.
A more correct implementation which guarantees operation atomicity would be more complicated:
https://github.com/HouzuoGuo/tiedot/blob/master/db/do

[2015-03-12 15:38] geoah commented on #54
Since the internal `Col.Insert()`, `Col.Update()`, `Col.Delete()` methods already take care of the atomicity of the transactions why is it required to re-implement the locking mechanisms?

I'm trying to wrap my head around this but since the wrapper methods call the internal ones, when `Store.Update()` and `Store.Delete()` are called at the same time the second internal method that will be called

[2015-03-12 15:58] HouzuoGuo commented on #54
I wouldn't mind having the discussion here.
Let's take a look at the function Insert, it calls three database functions all of which guarantee atomicity:
- getUidFromId -> EvalQuery
- Col.Read (by ID)
- Col.Insert

Since the three operations do not all happen at once, consider the possibility of two Nodes having identical custom ID, being stored at the same time:
- Node1 - does UID exist? False
-

[2015-03-12 23:10] geoah commented on #54
A very (very very) quick and dirty solution should solve most of these issues.
https://github.com/geoah/ink-haiku/commit/b1d69e96d7b79e256ce6736fe04cdd5bfb893de3

I know that I'm shooting performance in the head (twice) as everything is being locked instead of just locking a single data partition as you are doing in tiedot.
I'll try at some point to add a hash table for the CustomID/UID and export

[2015-03-12 23:19] geoah commented on #54
pps. It's kinda late so I might not be making much sense... by "rainbow tables" I actually was referring to the way rainbow tables are sometimes (I think?) stored.
eg IDs "aaaa", "aaab" will be stored under the `a.a.a` partition path. as `a` and `b` while the `aabb` and `aabc` under `a.a.b` as `b` and `c`.

The idea would be to have multiple partitions again but this time split it using leading ch

[2015-03-13 08:48] HouzuoGuo commented on #54
Thanks for the complement. Your locking approach is definitely on the right track.
ID and user created indexes work in this way: they hash the value (in document), and store (one or more) associations between the hash and physical document location, for example "A" -> 9284 (hash) -> 0 (physical location).

And the hash table implementation certainly does not care whether the input key is a hashed

[2015-03-13 09:20] HouzuoGuo opened #87 "SUSE Hack Week - YOU are very welcomed to join!"
SUSE Hack Week is an opportunity for SUSE engineers to work on projects of our passion by contribution to an existing open source project or try something new. "Innovate, collaborate, and learn!".

"Hack Week is a happy and constructive place. Support ideas you like, ignore ideas you don't like. Help to improve ideas of others, and accept help to improve your own. We encourage discourse and open d

[2015-04-03 06:33] jedy opened #88 "panic when calling getpage with page greater than total"
run
[code]
and log:
[code]

Maybe you should check the parameters.

[2015-04-08 05:19] HouzuoGuo commented on #88
Thanks very much, this will be resolved very soon.

[2015-04-09 13:33] HouzuoGuo commented on #88
fixed in ef42065..40a7436

[2015-04-13 07:34] #88 closed

[2015-04-13 07:58] agozie opened #89 "Could not find skip and sort."
I want to use tiedot in a project but I also need to paginate results. I could not find examples of limit, skip or sort in the documentation. Are they implemented or are there practical workarounds?

[2015-04-13 09:27] HouzuoGuo commented on #89
Due to the lack of a suitable index implementation for range queries, sorting and pagination are not supported in general.
I have failed in several attempts at creating an index for range queries, very sorry about that.

tiedot has good throughput in general, therefore, try to implement paging on the application server, it may still yield satisfactory performance.

[2015-04-13 12:42] agozie commented on #89
The performance is very good, as advertised, I inserted 1 million records in 5 secs. How safe is my data, in terms of corruption? and must I call srub()?

[2015-04-13 14:13] HouzuoGuo commented on #89
Good to know!

A hard crash usually does not corrupt data files, but if it does in an unlikely event, tiedot will notify you by log messages.

Scrub is not necessary unless you wish to save some disk space by compacting the DB, or if data corruption has been noticed.

[2015-04-16 09:06] HouzuoGuo commented on #89
I'm closing this one for now, feel free to come back anytime

[2015-04-16 09:06] #89 closed

[2015-04-17 09:50] HouzuoGuo commented on #87
SUSE week 12 is concluded today
d2326448d127bbf7b46f2ab69a118669ecdaae4b

[2015-04-17 09:50] #87 closed

[2015-04-26 20:13] agozie commented on #39
I have 11 collections, 256Mb for each with no data at all! Some collections will only hold a few entries. This is a major blow to my project.
Any Thoughts?

[2015-04-27 05:59] HouzuoGuo commented on #39
@agozie sorry - the size of collection files depends on the number of CPUs on the system:
https://github.com/HouzuoGuo/tiedot/blob/master/db/db.go#L50

I intended for the initial size of collection to depend on GOMAXPROCS, so the line must have been a mistake.

The collection file size could be reduced to 64MB by replacing runtime.NumCPU()) into 1.

[2015-04-27 20:48] agozie commented on #39
How will reducing runtime.NumCPU() to one affect performance? Thanks alot.

[2015-04-28 05:01] HouzuoGuo commented on #39
Reduce it to one should retain approx.30% in your scenario. Run benchmark ./tiedot -mode=bench to be sure.

[2015-05-06 13:55] BRoehrl opened #90 "Regular Expression Support"
Hello!

I was wondering if regular expressions ( as mentioned in #27 ) were still supported? Are there maybe any other ways to use Wildcards in Tiedot?

Best regards
Ben

[2015-05-07 05:25] HouzuoGuo commented on #90
I am really sorry, the reason of removing regex support is for performance reason, regex cannot get any help from indexes and therefore it is perhaps better to do it in application code.

[2015-05-13 14:57] HouzuoGuo commented on #90
Feel free to come back if you have any more questions.

[2015-05-13 14:57] #90 closed

[2015-06-12 00:45] mmindenhall opened #91 "Support more RESTful API"
Hello,

I'm just starting to use tiedot for an application on a low memory footprint device.  The results so far seem very promising!

The current API is definitely usable, but I was wondering if it would be possible to support a more RESTful API?  There are a couple of issues that this would solve.

1.  Any HTTP method can be used for any request, which violates the intended use of the HTTP metho

[2015-06-13 15:11] HouzuoGuo commented on #91
I'm very glad to hear that tiedot could be useful to you. I'll think through it and get back to you soon.

[2015-06-15 12:46] HouzuoGuo commented on #91
I like the idea very much, but unfortunately at the moment I do not have time working on this feature. Please take a look at:
https://github.com/HouzuoGuo/tiedot/blob/master/httpapi/srv.go

Would you like to give it a try at implementing these APIs?

[2015-06-16 02:31] omeid commented on #91
:+1: for the suggested API, it will work great with Angular Resource which will make a new control panel development and other tiedot + angular apps very smooth.

[2015-06-17 08:52] Dr-Terrible commented on #91
:+1:

As a starter, I think it would be quite useful  to have a simple _RESTful API_ with a minimal feature set for basic operations. Since _tiedot_ is using JSON internally, then [json:api](http://jsonapi.org) and [RAML](http://raml.org) could be a good fit for modelling the API.

[2015-06-18 01:49] mmindenhall commented on #91
I might be able to work on this once I get a bit more experience with golang and some more free time.  We're just starting to port an existing Java application to golang in order to be able to run in a smaller footprint.  FYI, we're using tiedot to replace Hazelcast in the new architecture.

[2015-06-18 07:52] HouzuoGuo commented on #91
I just added all of you into collaborator list, please feel free to experiment with Restful API implementations however you like!
@mmindenhall if you see any vital feature of hazelcast missing from tiedot, or if you have any questions, feel free to ask!

[2015-07-19 03:43] vadimyer opened #92 "Persistent / clustering feature request"
Hi,

Very promising project! I like the idea it's totally powered by Go. And already guess this is a in-memory NoSQL db best used as embedded.
Are there any plans for persistent storage as well as clustering? Also I think it would be a good idea to have an option to have an SSD as a storage, but memory for indexes only (like in Redis).

[2015-07-20 04:44] HouzuoGuo commented on #92
Hello Vadimyer.

tiedot uses memory for caching and it is a persistent document database. Databases are persistent on disk at all time.

However there is a very small chance of data loss in case of a DB or OS crash due to lack of a journal. The data structures are crash-resilient to ensure the maximum availability of the remaining data.

tiedot aims for vertical scalability instead of horizontal s

[2015-07-25 08:59] HouzuoGuo commented on #92
I hope that answers your question. If you need anything else feel free to ask!

[2015-07-25 08:59] #92 closed

[2015-08-04 00:20] techjanitor opened #93 "Close() in embedded"
Is there a standard way to call Close() in an embedded program on shutdown?

Should I be watching signal.Notify, or is there an easier way to handle it. My programs are usually handled by supervisord or systemd, which just calls sigterm IIRC. I don't have a shutdown function like in your httpapi implementation.

[2015-08-04 13:28] HouzuoGuo commented on #93
Feel free to call database.Close():
https://github.com/HouzuoGuo/tiedot/blob/master/db/db.go#L84
Just remember to get rid of references to database after it is closed. Continuing using a database after it is closed will cause crash due to memory fault.

It is a good practice to catch interrupt/terminate signal and call database.Close() in the signal handler.

[2015-08-06 13:43] kylewolfe commented on #46
Hi Houzuo,

I'm interested in using tiedot a little more and have a few questions on this subject. In reference to :

The method Col.ForEachDoc (https://godoc.org/github.com/HouzuoGuo/tiedot/db#Col.ForEachDoc) returns a []byte and in turn basically a json document that can quickly be unmarshaled using json.Unmarshal. I've found that using json to unmarshal is far better than something that does a

[2015-08-06 14:13] HouzuoGuo commented on #46
Thank you very much for the suggestions @kylewolfe and sorry I have not been active with the project development.

For your use case I'd like to propose four new functions:

- An Insert function (doc interface{})(id int, err error)
- An Update function (id int, doc interface{}) (err error)
- A Read function (id int, destination interface{}) (err error)
- Another Read function (id int, idAttrName s

[2015-08-06 15:05] kylewolfe commented on #46
Thanks for the quick reply!

Your proposed methods would use json to (un)marshal?
What would idAttrName be used for?

Is the idea of a single return type that can do multiple things out of the realm of possibility? Or maybe just too much of a breaking change? Ideally an interface such as this would be better, so that Id is handled by (un)marshaling:

[code]

mgo behaves this way so that I do not h

[2015-08-06 15:08] kylewolfe commented on #46
Going back to the new return type. If []byte indeed does come off the wire (as I see it in ForEachDoc) and you also need map[string]interface for indexing purposes, etc. Then A type something like this could be used across the whole application:
[code]

Then during ForEachDoc, both json unmarshaling and any existing functionality around map[string]interface{} can be used.

[2015-08-06 15:32] HouzuoGuo commented on #46
All right, I misunderstood your original use case regarding mgo. It will be a little difficult to support mgo style API, but I'll try my best to make the existing APIs more pleasant.

json.Marshal/Unmarshal uses JSON byte array instead of string, which happens to be compatible with the representation of JSON documents in the storage. However the higher level API in Col such as Col.Read() returns m

[2015-08-06 15:48] kylewolfe commented on #46
I think I may have a crack at this tonight. Rather than what you describe in Read3, how about utilizing a structs tag feature within reflect?

[code]

I'm assuming your looking to keep API comparability for awhile longer (before v4 if at all?)

[2015-08-06 16:09] HouzuoGuo commented on #46
it will definitely be ideal if tiedot can make use of the tag, although I do not know how. Please feel free to experiment with the feature and I look forward to hear from your findings.

[2015-08-07 02:06] kylewolfe commented on #46
Here's a little show and tell of what I have so far (not ready for a PR): https://github.com/HouzuoGuo/tiedot/compare/master...kylewolfe:api_break

I titled the branch api_break, thinking that I would write up what an ideal final API would look like, regardless of breaking changes, but then I realized you could actually switch to a format in which mgo uses (doc interface{}) and still keep backward

[2015-08-07 03:53] HouzuoGuo commented on #46
That looks even better than I previously thought! well done!
I added you into collaborator list so feel free to push changes.

[2015-08-07 13:45] kylewolfe commented on #46
Excellent! I'll move my work in to a branch on the official repo and continue to play. Do you have a standard or thought on breaking changes? I realized that some more thought needs to go in to a few other methods (ForEachDoc, for example, I believe would have to receive a breaking change in order to support struct unmarshaling)

[2015-08-07 13:54] HouzuoGuo commented on #46
Well I think people are quite familiar with the idea that softwares evolve and breaking changes will occur . As long as the actual feature isn't taken away I wouldn't mind changing some function signatures.

[2015-08-07 15:35] kylewolfe commented on #54
I'd like to throw in my suggestion in case if for some reason tiedot moves away from integer ids to a string. We could use something with some more functionality in it. Being able to parse certain info right out of the ID could be useful IMO (such as created date). See ObjectId http://godoc.org/labix.org/v2/mgo/bson for how this can be accomplished.

[2015-08-13 04:20] HouzuoGuo commented on #93
feel free to come back when you need anything!

[2015-08-13 04:20] #93 closed

[2015-09-09 20:22] gedw99 opened #94 "control panel"
i noticed that in this release the web control panel is gone.

is the code still in the tree ? I would really like to use it and maybe extend it. useful to me.

[2015-09-11 05:13] HouzuoGuo commented on #94
Very sorry about that, the control panel was served by this package called "go-rice" that does not work at all when packaged into an RPM. Also, when tiedot v3 came out, the API for handling document ID changed and several of us couldn't figure out how to fix it.

If you happen to have some extra time, you are certainly more than welcomed to create the next generation web CP for tiedot :+1:

[2015-11-17 13:27] ktw commented on #68
Hi.

Will this 32 bit branch be updated to version 3.2 at some point?
I am trying to cross compile for a Scaleway C1 instance. (ARMv7 Cortex-A9)

[2015-11-17 14:20] HouzuoGuo commented on #68
hello @ktw, actually there isn't a big difference between 32bit branch based on 3.1.3 and the latest release 3.2.

3.2 introduces optionally enabled JWT for authorizing API calls, it fixes a performance issue observed on certain OS/FS combinations, and removes web control panel.

Is there a feature you need from 3.2? I can backport it for you if you like.

[2015-11-17 15:27] mmindenhall commented on #68
I was also using tiedot in a prototype earlier in the year, and it looked to me like the 32-bit branch would not be needed if a few `int` declarations were simply changed to `int64` in the codebase.  If that's the case, why not do that instead of backport and maintain a separate branch?

[2015-11-17 16:43] HouzuoGuo commented on #68
@mmindenhall that's a good point, indeed I should have done that from the very beginning.
all right, let's do it this way in master.

[2015-11-17 19:54] ktw commented on #94
Just curious, what exactly was the problem with the ID's? (Besides the RPM issue)
I cloned the latest master, and added the control panel from the 32bit branch, and it seems to work just fine for creating data, and querying by ID.
(I had some variables missing in main.go, and some imports that needed to be local, "github.com/HouzuoGuo/tiedot/..." -> "tiedot/...")

[2015-11-18 06:34] HouzuoGuo commented on #94
about a year and half ago, tiedot used to store document ID along with other document attributes, so that the ID would be deserialised along with other document attributes when retrieved.

Starting from v3, the document ID is no present in the document content. on the web UI, if user attempts to create a document with an attribute called "_id" (or "id", I do not remember clearly), the attribute wi

[2015-11-18 10:10] ktw commented on #94
Yes I see. It is "id" which causes the problems, but "_id" is allowed though.

Do you mind if I try to fix it, or perhaps create a new control panel?
(I am not a designer, so it might end up being ugly)

[2015-11-18 11:55] HouzuoGuo commented on #94
that's much appreciated! please feel free to bring it back in master, i added you as collaborator.

[2015-11-19 02:59] cnjack opened #95 "Can it be distributed"
I want a distributed k/v db

[2015-11-19 10:07] HouzuoGuo commented on #95
tiedot is designed to offer excellent throughput for single machine operation.

As of now, distributed operation modes such as HA, sharding, are not supported.

[2015-11-24 01:46] Splizard opened #96 "Need a non-blocking ForEachDoc function."
At the moment the ForEachDoc blocks other database calls. Can we get an additional implementation which is non blocking which passes 1 document ID at a time like this?
[code]

[2015-11-24 08:10] HouzuoGuo commented on #96
i'm afraid that is is a bit difficult to implement. what concrete use case do you have in mind for this operation mode?

[2015-11-24 08:24] Splizard commented on #96
I would like to write to every document in a collection, I like the ability to Read the document directly by ID. This can be solved by running ForEachDoc and then storing a slice of ID's.
I would prefer a way to iterate over the ID's without blocking.
Im unsure if this is an ideal method, what makes it difficult?

[2015-11-24 08:25] Splizard commented on #96
I can do this but I don't like storing all the ID's in memory everytime I call the function.
[code]

[2015-11-24 08:40] HouzuoGuo commented on #96
that's a fair point indeed.

the reason of placing a lock in the document partition while iterating over the documents is to prevent shifting of document physical location (by insert/update/delete) while iteration is in progress.

would you like to consider using https://github.com/HouzuoGuo/tiedot/blob/master/db/col.go#L221 ? this way you have precise control over how many documents are in the it

[2015-11-24 08:42] HouzuoGuo commented on #95
Feel free to come back if you have more questions.

[2015-11-24 08:42] #95 closed

[2015-11-24 08:46] dmitrysdm opened #97 "Documentation update needed, can't do example from documentation"
I'am not a programmer, and trying do example from documentation:
When i try Insert document with command:
PS C:\Users\Administrator> curl.exe --data-ascii doc='{"a": 1,"b": 2}' "http://localhost:8000/insert?col=Feeds"
i have got error:
'{a: 1, b: 2}' is not valid JSON document.

the same message i see, when do commang from documentation with post request on GO

[ `go run json_http_request.go` | do

[2015-11-24 09:07] ktw commented on #97
I had similar problems, when trying to post from jQuery.
It worked when the doc object is serialized to the url as query string, like this:
"/insert?col=Test&doc="+JSON.stringify({"Hello":"World!"})

The data object (form data) seems to be ignored, when inserting.
(http://api.jquery.com/jquery.ajax/)

[2015-11-24 09:21] HouzuoGuo commented on #97
does powershell strip double quotes from parameter input? the server did not get the document with attribute names quoted, thus it failed to pass JSON.

[2015-11-24 10:22] dmitrysdm commented on #97
I confirm, It working correctly even via browser with simple GET request:
http://localhost:8000/insert?col=Feeds&doc={"a": 1, "b": 2}

[2015-11-30 14:51] HouzuoGuo commented on #97
btw, for your Go HTTP client, please send the content in form submission(type application/x-www-form-urlencoded).

feel free to come back with more questions.

[2015-11-30 14:51] #97 closed

[2015-11-30 14:52] HouzuoGuo commented on #96
i hope that the function above is good enough for your usage.

Feel free to come back with more questions.

[2015-11-30 14:52] #96 closed

[2015-12-02 10:00] ktw commented on #96
@HouzuoGuo I can't seem to figure out how to use the ForEachDocInPage.
Do you have an example, where each page contains a fixed number of documents?
(Maybe 25 documents or something like that, for use in a webpage with paging)

[2015-12-02 10:33] HouzuoGuo commented on #96
In this example, it iterates over approximately 50 documents at a time:

totalPages := col.ApproxDocCount() / 50
for page := 0; page < totalPages; page++ {
    col.ForEachDocInPage(page, totalPages, fun)
}

Due to the nature of hash table, the function does not always guarantee that exactly 50 documents are in the iteration, and the order of documents is unpredicable.

[2015-12-02 20:26] ktw commented on #96
My results are very unpredictable with this method.
Maybe my data is broken, but when asked for 15 items per page, it returns something like this:
page 0 = 14 items
page 1 = 5 items
page 2 = 9 items
and so on.
(totalPages := col.ApproxDocCount() / 15)

Is the document order totally random, or is it somewhat predictable between calls?
Maybe I could use the ForEachDoc function instead, then skip and

[2015-12-03 06:12] HouzuoGuo commented on #96
the order is indeed random, and the number of documents in each iteration is not guaranteed to be accurate. However, iterating through all pages guarantees that all documents are visited.

[2015-12-08 07:10] ktw commented on #94
I am creating the control panel from scratch, so here is a quick status update:
- Re-enabled the user interface section
- Added functionality for localizing both html templates and errors (Using key / value pairs in JSON files)

I have created the following very basic pages: (No layout or styling yet)
- List collections
- List documents in a collection (Using paging, approximately 30 documents on

[2015-12-08 08:54] HouzuoGuo commented on #94
Thank you soooo much for making the effort!

[2015-12-19 17:26] guileen commented on #1
I think the most important thing is about id. Incremental id, and automatically order by id, id range query like {id: {gte: '1234567', lte: '2345678'}}

[2015-12-19 17:50] guileen opened #98 "cursor, order desc support for getpage"
Tiedot is amazing, I'd like to use it in my projects, but it missing some key feature for my situation.

1. Think about a list view, show recently posts there. I need all the posts order by insert time desc. So I need getpage can order reverse.

2. When I view the first page on mobile phone, it show recent 20 document. And before I scrolling to next page, someone post a new document. The 2nd page

[2015-12-19 19:11] guileen commented on #98
I notice that I misunderstanding total parameter in getpage, it means total pages, not total items per page.

I think `limit` will be a good parameter for my requirement,

[2015-12-20 10:12] HouzuoGuo commented on #98
Thank you very much for your feedback and I am really sorry that those features are currently missing. Please note that GetPage API returns documents in a more or less unpredictable order, therefore the latest documents do not always come last. tiedot is rather good at indexing discrete attribute values, but I am afraid that due to lack of a suitable index implementation, tiedot is not suited for

[2015-12-22 07:29] guileen commented on #98
Yes, sorting on persistent data is difficult, I can give some experience of using other NoSQL, but I don't know how is it works.

Leveldb and HBase can iterate by key order, and the key is client specified when insert, this simple feature make a big flexibility.

Think about the situation I mentioned, the post keys is like

 post:000000001
 post:000000002
 post:...
 post:000999999
 post:001000000

[2015-12-22 23:53] HouzuoGuo commented on #98
Thanks very much for your input, I'll keep it in mind and wait till the day I manage to implement a more efficient index.

[2015-12-24 10:32] HouzuoGuo opened #99 "Merry Christmas and Happy New Year!"
Wish everything the best to all of you :)

[2016-01-08 06:30] HouzuoGuo commented on #99
it's been a good start

[2016-01-08 06:30] #99 closed

[2016-01-08 09:07] Dr-Terrible commented on #99
Happy new year, @HouzuoGuo :)

[2016-01-08 11:14] HouzuoGuo commented on #99
@Dr-Terrible you too, happy new year!

[2016-01-11 07:36] joeblew99 opened #101 "Roadmap"
Would be helpful.

I like this dB, but no updates and no roadmap ?

[2016-01-11 10:42] Dr-Terrible commented on #91
In the next few weeks I have some free time to spare and I'd like to tackle this issue. If anyone of the previous commenters wants to join me then is welcome.

As a start I was thinking to model the API using `RAML` or `OpenAPI Spec` (ex Swagger) formats; it seems that OpenAPI/Swagger 2.0 is well supported by several Golang tools, while RAML isn't.

So, I vouch for OpenAPI/Swagger by using https:/

[2016-01-11 16:44] HouzuoGuo commented on #101
Hey, thanks for your interest in the project!

I would have loved to spend more time on it, but at the moment I am quite busy with two other projects. I hope that my schedule will free up in the near future.

In the meanwhile, please don't hesitate to make feature suggestions and/or contributions.

[2016-01-11 16:46] HouzuoGuo commented on #91
Hey Doctor.
I have heard about swagger and how easy it is to manage the entire API lifecycle with it, in fact another project of mine is also making use of swagger. It would definitely be a nice addition to tiedot, please feel very free to go ahead with implementing it.

[2016-01-11 19:26] joeblew99 commented on #101
Ok thanks for letting me know.

Some feature suggestions.

1. Some sharing / replication strategies

2. Extend queries. The api is using some really poor names.
- sorting. Very important.

[2016-01-11 20:07] HouzuoGuo commented on #101
I absolutely agree. In order to support sorting I must implement an efficient on-disk structure, but quite unfortunately the performance has always been dissatisfactory after numerous attempts. If you have any reading materials on building a cache friendly, disk optimised skip list, please share.

[2016-01-12 19:39] joeblew99 commented on #101
I can't fully remember the locking strategies tiedit has. Am a bit rushed tonight...

But all this functionality will initially need a proper locking / unlocking strategy to handle times when read operations are happening as opposed to write ops.

Or you can avoid this issue by using a WAL ( write ahead log) style of holding the data on disk.

Hope I have explained the issue and potential remedy o

[2016-01-27 01:49] #83 closed

[2016-03-23 21:18] leadinglocally opened #104 "Max capacity"
Hi, been using tiedot for a couple of weeks.

Was using bolt but write performance fell off a cliff after 10-20 million items.

Tiedot has much better write performance, but I read it was only suitable for upto 10 milion items.

It is also blocking my program from startup, I have a ten minute wait while tiedot iterates over the columns to call their load methods. I was thinking this is an easy fix

[2016-03-25 03:23] gertcuykens commented on #104
ping @HouzuoGuo :)

[2016-03-25 07:54] HouzuoGuo commented on #104
Hello!

Sorry about that, such long delay should not have happened, I am very surprised that it is taking several minutes to load the files. Here is the most time consuming operation in the entire sequence of loading collections:
https://github.com/HouzuoGuo/tiedot/blob/master/data/file.go#L55
It bi-sects the file buffer to find out how much space is in-use, the function "LooksEmpty" looks for con

[2016-03-25 08:05] HouzuoGuo commented on #104
Happy good Friday btw.

[2016-03-30 16:31] leadinglocally commented on #104
Unfortunately we have had to discontinue use of all third party storage solutions.
So I don't have the codebase any longer to provide the feedback you need.
Thank you for your response regardless.

[2016-03-30 16:31] #104 closed

[2016-05-12 11:38] yaa110 opened #105 "How to fetch documents sorted by a key and paginate them (Embedded API)"
Consider a collection of 100,000 documents of _BOOKS_. How could I `ORDER` books `BY` _PUBLISH YEAR_ key and paginate them using `LIMIT` and `SKIP`?

[2016-05-12 18:57] gertcuykens commented on #105
What I do is build index views in memorie so I can do al ordering and searching in golang and only the things I want to store or get from disk I use something else like tiedot. Tiedot is like vim, it can only do one thing really good :)

[2016-05-12 19:07] yaa110 commented on #105
Yes, it is really good in **storing documents**. I did a benchmark test, Tiedot inserted 100,000 documents in ~0.5 seconds while postgreSQL inserted 100,000 rows in ~7 seconds!

[2016-05-12 21:21] gertcuykens commented on #105
Anyway if you take the time to come up with something like most nosql developers had to figure out at some point, you get horizontal scaling for free. But yes its not obvious.

[2016-05-13 06:51] #105 closed

[2016-05-17 18:23] WinterPhoenix commented on #68
Any updates on this? I understand that it's probably low priority but I'm running into it as well.

[2016-05-18 06:32] HouzuoGuo commented on #68
Hello WinterPhoenix. Could you please give "32bit" branch a try and see if that one works for you?

[2016-05-18 17:50] WinterPhoenix commented on #68
Sure, I expect that the 32bit branch should do what I need it to do. I just wanted to see if a fix for this was imminent before I spent time switching to the branch. I saw that it was reopened in November and figured I'd check. Thanks!

[2016-06-07 18:49] Allendar opened #106 "Slow query examples"
I love your document system. Thanks so much for your contribution to the community!

I would like to point out something tho. As many may not benchmark their app but still use `tiedot` they might experience greatly diminished performance due to the way the wiki explains queries [here](https://github.com/HouzuoGuo/tiedot/wiki/Query-processor-and-index). Of course there's nothing _wrong_ with what's

[2016-06-07 20:01] gertcuykens commented on #106
I suggest you make a pull request and include a second query benchmark in the source code

https://github.com/HouzuoGuo/tiedot/blob/master/benchmark.go#L81

So Howard can merge it.

[2016-06-12 09:43] Allendar opened #107 "Slices magically guessed on Read?"
I'm having some issues where I'm not getting back the explicitly defined type inside the data that I Insert.

This code for example:

[code]

Then if I Read:

[code]

As you can see I'm typecasting the `targetUserID` to `float64`. Oddly enough I can't type-hint the slice in the `range` to `[]int`, even tho it was exactly that when inserting it. The `ok` check will be false.

I know structs don't w

[2016-06-12 09:57] Allendar opened #108 "Query on the insides of a slice?"
Let's say I insert this:

[code]

How could I query the values in that slice?

If that's not possible, let's say I'm dumping the value in there comma-separated instead, like so:

[code]

Could I do a `LIKE`-ish check on that field? Or can you only check the whole value in a Query?

[2016-06-13 07:40] HouzuoGuo commented on #106
Good point! JSON serialisation indeed consumes way more time than the data structures. Please feel free to edit the wiki pages to point this out with your code example.

[2016-06-13 07:55] HouzuoGuo commented on #107
Hello!

The behaviour originates from Go JSON library. When it deserialises an arbitrary JSON string without type hints, the following types are used:
- Key-value pairs become map[string]interface{}.
- Strings, booleans, and nulls remain.
- Integers become float64.

I must apologise that I'm little lazy to update tiedot's code at the moment, for your issue there is a workaround possible to avoid m

[2016-06-13 07:56] HouzuoGuo commented on #108
Hello!

Slice values are individually indexed, if you query for users=1, the record will show up no matter users is a single value or an array that contains 1.

[2016-06-14 08:28] Allendar commented on #106
I've added the example to the Wiki. Thanks for your response!

[2016-06-14 08:28] #106 closed

[2016-06-14 08:35] Allendar commented on #107
Thanks for your response!

I thought of this solution too, but I'm running a high-velocity API and can't permit these conversions. I think just assuming that I need to explicitly typecast all `int`s from the Tiedot-results is probably good enough. I was just wondering if it was really the JSON serializer that did it or if it might've been logic in the Tiedot code itself.

Don't apologize! We all h

[2016-06-14 08:35] #107 closed

[2016-06-14 09:02] Allendar commented on #108
I didn't know you do that, amazing! Do you also know to specify ID's? In the example I showed I could probably do `range-from`-`range-to`, but if the IDs different and sequential then it wouldn't hold up. Can the `"eq"` receive an array too?

[2016-06-14 11:33] Allendar commented on #108
I just tried it but it panics saying it needs an index. Does the index require a specific notation to work?

[2016-06-14 12:09] Allendar commented on #108
Correction; I just made a little mistake myself. It doesn't panic anymore, but it doesn't find single values.

This doesn't give results:

[code]

Making it a string neither:

[code]

And even making it literally the slice that I inserted as a test doesn't give a result:

[code]

[2016-06-14 12:34] HouzuoGuo commented on #108
Here are the test cases of supported scenarios:

https://github.com/HouzuoGuo/tiedot/blob/master/db/doc_test.go#L25

You see, if everything went well, index should find those values in nested slices/maps with ease.

What does the JSON document look like in the database?

[2016-06-14 13:30] Allendar commented on #108
This is the my insertion code:

[code]

This is my fetch code:

[code]

All the `DBField*` constants are all strings with counter-values in them (1,2,3,4...). I'm controlling both the server and client API, so I'm using constants (Go and TypeScript) to keep the field-names as small as possible on my JSON data transfers.

Not getting any errors. Just no result

[2016-06-15 08:35] HouzuoGuo commented on #108
Found the issue! And it's went unnoticed because none of the tests insert documents from hand-crafted structure. Here's the culprit: https://github.com/HouzuoGuo/tiedot/blob/master/db/doc.go#L34

The function did not descend into `[]int{1, 2, 9, 19}` because it is not []interface{}.

I know this is very inconvenient, but keeping in mind always to use `[]interface{}` is error prone, would you mind

[2016-06-15 09:36] Allendar commented on #108
That works! Thanks so much!

I'll just insert all arrays with `interface{}` like this. Maybe it's still handy to add an `else if` for the `[]int` type in a later stage. Or at least show an `error` to use `[]interface{}`.

[2016-06-15 13:11] Allendar commented on #108
Just noticed that doing intersection on multiple indexed arrays also doesn't work:

[code]

[code]

But when doing union with them (and indexing on both field separately does work):

[code]

[2016-06-15 14:17] HouzuoGuo commented on #108
Please clarify, did the intersection query yield no result? How many records did you get out of the union query?

[2016-06-15 15:27] Allendar commented on #108
Yes the first query in my previous post gives no results. The second does. I inserted 100k entries into the system. The first query yields no results, the second yields all 100k (they're all clones with some ID's in different positions).

[2016-06-20 07:11] HouzuoGuo commented on #108
Please take a look at this example, which seems to work:
<code>
	myDBDir := "/tmp/tiedot_test_embeddedExample"
	os.RemoveAll(myDBDir)
	defer os.RemoveAll(myDBDir)
	myDB, err := db.OpenDB(myDBDir)
	if err != nil {
		panic(err)
	}
	if err := myDB.Create("Feeds"); err != nil {
		panic(err)
	}
	feeds := myDB.Use("Feeds")
	_, err = feeds.Insert(map[string]interface{}{"name": []interface{}{0, 1, 3, 4}})

[2016-06-20 13:45] Allendar commented on #108
Yes that works, yet combining 2 indexes that search in a range fail:

[code]

`panic: Please index name and retry query map[in:[name] eq:1].`

They can't run on a combined index? I'm basing this on my SQL-based BTREE index-logic tho, where combined indexes are faster. Yet Tiedot does provide the option for combined indexes, so I'm wondering why it fails in this case.

[2016-06-20 14:06] HouzuoGuo commented on #108
Ah I see what you did there.

The index on `[]string{"name", "surname"}` indexes nested attribute "surname". Instead, you need two separate indexes, one on name, the other one on surname.

[2016-06-20 14:07] Allendar commented on #108
Thanks for the help. I'll implement it this way :)

[2016-06-20 14:07] #108 closed

[2016-06-21 14:45] think-free opened #109 "Range timestamp ?"
**Suppose you have this :**

http://172.16.11.21:9876/create?col=Historic
http://172.16.11.21:9876/index?col=Historic&path=K
http://172.16.11.21:9876/index?col=Historic&path=TS

**Create documents :**

http://172.16.11.21:9876/insert?col=Historic&doc={"K":"Test","V":3,"TS":1466510455}
http://172.16.11.21:9876/insert?col=Historic&doc={"K":"Test2","V":4,"TS":1466510456}
http://172.16.11.21:9876/inse

[2016-06-22 13:26] think-free commented on #109
Limitation seems to be at > 999999

[2016-06-23 08:09] HouzuoGuo commented on #109
Hello!

Thanks very much for filing this bug, please try the latest commit on master:
https://github.com/HouzuoGuo/tiedot/commit/52109f80eb947a2659653535ab07e9aeb232ad35

[2016-06-23 10:03] think-free commented on #109
Ok, working !
Please edit 32bits branch as well

[2016-06-23 13:28] HouzuoGuo commented on #109
done here:
https://github.com/HouzuoGuo/tiedot/commit/9b9062d082a0cdf178bc6d3410595c78655ac3b9

[2016-06-26 17:33] HouzuoGuo commented on #109
i think this one is now solved. feel free to come back with questions/suggestions.

[2016-06-26 17:33] #109 closed

[2016-07-01 22:57] Allendar opened #110 "Proposal: ReadBytes"
Because I use `jsonparser`, which can search through JSON bytes without memory-overhead I had to make an extra method to just get the bytes back. I was thinking if it might be suitable for the tiedot package itself too. Maybe `jsonparser` can also be used for lookup stuff under the hood to speed things up even more?

This is the method :

[code]

It gave me a `1.6x` speed boost when just wanting t

[2016-07-03 10:54] Komosa opened #111 "Atomic update (like atomic add)"
It will be great to have _update_ operation based on _actual_ data (in addition to current _overvrite_-like updates).

For example, atomic increment of given field could be done easily with proposed update.

---
BTW, great project, especially design!

[2016-07-03 11:55] Komosa commented on #111
I'm thinking about something like `UpdateBytes(docID int, update func([]byte) ([]byte, error)) error` and `UpdateJSON(docID int, update func(map[string]interface{}) (map[string]interface{}, error)) error` (better names are always welcome).

Untested draft of UpdateBytes: https://gist.github.com/Komosa/25a4fed426685857c7c6424cb2a9ef54

(why _defer_ statement isn't used in doc.go?, it is too expensi

[2016-07-04 09:48] HouzuoGuo commented on #110
That's a very good idea. Would you be interested to write a unit test for it as well please? Otherwise I'll perhaps do it in another week.

[2016-07-04 09:50] HouzuoGuo commented on #111
good idea, i'll try to code these functions soon, in the meanwhile please write a unit test for this function, if you have a spare moment.

[2016-07-04 11:30] HouzuoGuo commented on #111
btw, regarding usage of defer: you are correct, it carries a quite significant ~20% performance penalty.

[2016-07-09 11:03] Komosa opened #112 "Concurrently using db.Update()"
I get sometimes following error from Update():

    Document `2172066362944826002` is locked for update - try again later

I wonder what is suggested handling of it?

[2016-07-11 06:23] #112 closed

[2016-07-11 11:21] #111 closed

[2016-08-07 17:48] bsbak opened #115 "cant build for bench"
Hello, i'm trying build ur tiedot:

`bsbak@bsbak:~/go/src/github.com/HouzuoGuo/tiedot$ go build main.go`
`./main.go:80: undefined: benchSize`
`./main.go:81: undefined: benchCleanup`
`./main.go:144: undefined: embeddedExample`
`./main.go:147: undefined: benchmark`
`./main.go:149: undefined: benchmark2`
what is that? was look in code, all is fine, but i why cant build?

[2016-08-07 18:41] gertcuykens commented on #115
Try `go build` without main

[2016-08-07 20:47] bsbak commented on #115
works! Why with main.go not work? What difference?

[2016-08-07 21:10] gertcuykens commented on #115
`go build main.go` only compiles `main.go`. `go build` compiles everything it finds.

[2016-08-08 20:53] #115 closed

[2016-08-09 21:51] snapo opened #116 "add document entry"
Hi ,
First many thanks for creating this go project, im also getting in to and did just wanna take a look on your  nosql server.
Im in the following problem while testing the server (probably my error).
I did not found a way to add an entry to a existing document...

1. create?col=123
2. '{"a": 1, "b": 2}'  insert?col=123

now i need to add c3 so my steps are
1. query?q=123 (so i get the document

[2016-08-16 09:53] HouzuoGuo commented on #116
Appreciate your feedback, and the procedure you described is the best approach as of now.

A more convenient way to update values inside document should be a good enhancement.

[2016-08-18 23:08] drasko opened #117 "Embedded Use - Document ID and `Find`"
Hello,
I am reading example for embedded use: https://github.com/HouzuoGuo/tiedot/blob/master/example.go and I am having trouble figuring out two things:
1. Document ID is used every time to manipulate document: https://github.com/HouzuoGuo/tiedot/blob/master/example.go - is this document ID kept inside the document itself? I.e. how do I obtain this document ID in my backend in order to update it

[2016-08-22 08:38] HouzuoGuo commented on #117
Hello!

The document ID is not kept in the document data itself, there is a dedicated ID hash table in each collection that maintains the association between document ID (unchanging) and document's physical location (changing). The unchanging document ID is in the return value of Insert function:

https://github.com/HouzuoGuo/tiedot/blob/master/example.go#L69

Later the ID will be used to update d

[2016-08-29 10:46] HouzuoGuo commented on #117
hi @drasko did the second comment answer all of your questions?

[2016-08-29 10:56] drasko commented on #117
@HouzuoGuo yes, thanks. I will close this issue.

[2016-08-29 10:56] #117 closed

[2016-08-29 11:31] HouzuoGuo commented on #117
no worries, feel free to come back if you have more questions.

[2016-11-12 03:52] arafath-mk commented on #46
Hi.. What is the status of this issue..?

[2016-11-15 09:53] HouzuoGuo commented on #46
@arafath-mk sorry, little progress has been made regarding this issue, although it should not be a difficult matter.
@kylewolfe hello! do you by any chance have a moment to take a look at this?

[2016-11-15 21:34] kylewolfe commented on #46
Unfortunately, I opted to use a different solution for my project. As a result I did not get around to finishing my work on this issue. My partial work is still available though (https://github.com/HouzuoGuo/tiedot/compare/master...kylewolfe:api_break) if someone wants to pick up the baton.

[2016-11-18 18:09] ohenepee opened #118 "Need A Little Help Here"
First off, I'm slightly above a beginner in Go (so I might not get most things in a gulp) and this issue is not 100% related to Tiedot, I just need a little help.
I thought I have asserted (as far as I've learnt Go), but I keep getting this error
` cannot use readBack["SomePIN"] (type interface {}) as type string in argument to c.String: need type assertion`

[code]

[2016-11-18 21:50] ohenepee commented on #118
Solved... looks like i was throwing away what I needed in the assertion...

[2016-11-18 21:50] #118 closed

[2016-11-21 07:52] corebreaker commented on #94
ktw, are you pushed your dev ?

[2016-12-16 07:20] doraemonext opened #120 "How to insert integer value into tiedot using golang embedded package?"
Follow the example.go, everything's fine. But when I try to insert integer value, there's a problem.

[code]

When I have inserted multiple rows like that, and I want to query with timestamp range. But I found I can get nothing. Then I just try to read one specified row.

[code]

The result is `float64`, so the range query cannot work.

I want to know how to insert integer as integer value into ti

[2016-12-20 23:36] HouzuoGuo commented on #120
Hello! This is actually a quirk of JSON invented after a floaty & stringy typed javascript. Integers in JSON are stored in 64-bit floating point numbers, which is accurate up to some thousands of trillions. Take a look at this function, in which range lookup is implemented:
https://github.com/HouzuoGuo/tiedot/blob/master/db/query.go
Take note that it expects range boundary numbers in either int or

[2016-12-23 03:08] HouzuoGuo opened #121 "Merry Christmas and happy new year!"
Merry Christmas and happy new year to all of you 😄

[2016-12-23 03:13] omeid commented on #121
Happy New Year Howard.

[2016-12-23 03:45] HouzuoGuo commented on #121
Merry Christmas @omeid

[2016-12-23 03:47] HouzuoGuo commented on #121
Merry Christmas and happy new year @davesters @gertcuykens  @Dr-Terrible @Komosa @smartrevolution  @NoahShen @tjackiw @nickpresta  @suhdev @lanzafame @zhibinr @dchapes @algebraic-brain @bnyeggen @2pi and all

[2016-12-23 06:27] handicraftsman commented on #121
Lol/

[2016-12-23 06:28] handicraftsman commented on #121
`;kick #tiedot HouzuoGuo Masshighlight`
I would do that if you'll do that on IRC 🐱

[2017-01-08 22:20] gsmachado opened #122 "how to get a random document"
Hello all,

First of all, this is not a bug or a truly "issue". It's more a question/topic to be clarified.

So, how can I efficiently get a random document from tiedot collections? (assuming that I only rely on the  "docID" itself, and I don't have an additional attribute called "random" storing a random value to be chosen from, using "$gte")

Cheers and thanks in advance!

[2017-01-09 06:56] HouzuoGuo commented on #121
it's been a good star so far!

[2017-01-09 06:56] #121 closed

[2017-01-09 18:12] HouzuoGuo commented on #122
Hello!

That's an interesting use case, tiedot supports it but with some limitations.

A collection comprises a number of partitions: https://github.com/HouzuoGuo/tiedot/blob/master/db/col.go#L27

And a partition binds persistent document IDs to their physical location in data file: https://github.com/HouzuoGuo/tiedot/blob/master/data/partition.go#L18

The document ID lookup table has 65535 initia

[2017-02-03 13:50] reederz opened #123 "Query to return documents which have a certain property defined"
How can I query for docs which have a certain property defined?

E.g. say I have the following docs:

doc1
[code]

doc2
[code]

What query would I write to retrieve a set of documents that have `surname` in them? Namely `{ doc1 }`

[2017-02-03 18:00] archey commented on #68
Any update on this issue? It would be nice if this could be fixed.

[2017-02-05 21:04] lietu opened #124 "Minimal setup takes ridiculous amounts of disk space"
I created the most minimal database to test tiedot a bit.

I created one collection, `test`, and inserted one document into it:

[code]

I checked the filesystem, and there's **768MB** of files created by tiedot.

I can understand some preallocation, but having the minimal setup take 3/4 of a GIGABYTE of disk space is quite excessive.

![image](https://cloud.githubusercontent.com/assets/1296558/22

[2017-02-05 21:41] mmindenhall commented on #124
I've pasted some text from a wiki page I wrote when I was evaluating tiedot for a project.  The line numbers are no longer correct, but it looks like all the settings are still the same.  Hope that helps!

[2017-02-07 09:20] HouzuoGuo commented on #124
Hyvaa huomenta!

I entirely agree with you, the initial data file size can be quite large, and you probably have a 6-core Xeon E3 or Intel i7 extreme edition.

Those numbers were written down as constants because altering them after creation of a collection is quite a challenging task. If tiedot used a tree or skip list data structure for indexes, those huge numbers can be avoided. And that remind

[2017-02-07 09:22] HouzuoGuo commented on #123
Check this out:

https://github.com/HouzuoGuo/tiedot/wiki/Query-processor-and-index

The {"has": "attrname"} query should do it.

[2017-02-07 09:30] HouzuoGuo commented on #68
@archey very sorry about this, it's been an outstanding bug for nearly three years already.

I have trouble finding a 32-bit system to run some tests, if you could do me a small favour, please try this quick & dirty workaround - remove the entire "interger-smear" section from https://github.com/HouzuoGuo/tiedot/blob/master/data/hashtable.go#L39 and run its tests. The hash table will appear somewha

[2017-02-07 14:08] reederz commented on #123
I don't know how I missed it. Thank you @HouzuoGuo .

[2017-02-07 14:08] #123 closed

[2017-02-07 14:31] HouzuoGuo commented on #123
no worries

[2017-02-07 15:49] archey commented on #68
@HouzuoGuo Ill spin up  a 32bit vm and test it out and let you know.

[2017-02-10 01:52] archey commented on #68
@HouzuoGuo is there any reason why you cant change the int to uint64 that would allow it to run 32bit systems?

[2017-02-10 07:55] HouzuoGuo commented on #68
You're right, that should have been done from the very beginning and there's no good reason against it. In fact I began experimenting with it - along with a home grown RPC protocol, in a separate branch (https://github.com/HouzuoGuo/tiedot/blob/singlethread/data/partition.go).

But altering it on master branch would be risky, there will be a lot of compilation errors caused by incompatible types.

[2017-02-10 12:53] archey commented on #68
@HouzuoGuo I have it compiling on arm and 386 by moving that hashkey func to its own go file like doing hash32.go and hash64.go then using // +build params to build the specific version of arm or 386 but not build the 64bit version. I had to remove the buildconstraint.go temporarily to get it to build. I started to run the tests, but my rootfs on this box is only a few gigs so it ran out of space.

[2017-02-10 14:58] HouzuoGuo commented on #68
thanks very much for the feedback.

the other thing I regret is that tiedot allocates disk space way too aggressively, since you have a 32-bit environment handy for testing, would you mind to also tweak these constants:

https://github.com/HouzuoGuo/tiedot/blob/master/data/collection.go#L24
Change `COL_FILE_GROWTH` to `8 * 1048576`

https://github.com/HouzuoGuo/tiedot/blob/master/data/hashtable.go

[2017-02-10 15:27] archey commented on #68
@HouzuoGuo let me give it a shot and Ill get back to you

[2017-02-10 15:48] archey commented on #68
@HouzuoGuo all built and tests pass with 4.989s with the changes I made and the changes you requested. In my hash32.go file I still commented out the integer-smear function

[2017-02-10 17:14] archey commented on #68
@HouzuoGuo heres the benchmark results if your curious

https://gist.github.com/archey/feb0d76e3c372a31eb01cba5fc883ddc

[2017-02-11 15:00] HouzuoGuo commented on #68
Many thanks for your feedback, that looks quite good! I just put you into collaborators list, would you mind pushing the code to master please?

[2017-02-11 15:03] archey commented on #68
I could make a pr, but Ill push to it if you'd like one moment

[2017-02-11 15:12] archey commented on #68
@HouzuoGuo changes are pushed to master I removed the buildconstraint.go as it would of caused build issues for people.

[2017-02-11 18:15] HouzuoGuo commented on #68
@archey could you please move the changed constants into hash32/64.go as well? Otherwise those changes will cause existing databases to malfunction.

[2017-02-11 18:16] HouzuoGuo commented on #68
By the way, if you've also made changes to collection.go, please push it as well, and keep the modified constants also in the conditionally compiled .go files.

[2017-02-11 18:46] archey commented on #68
Yeah let me get those issues fixed, Im still new to golang. I'll fix it up and see if the next push will be better.

[2017-02-11 19:57] archey commented on #68
@HouzuoGuo the last push should be better I made a modified hashtable32 with the constants and a modified collection32 with the constants, they will only build on 386 and arm. Let me know if that was wrong, I can revert it and start over. It just made more sense to me that way.

[2017-02-12 07:23] HouzuoGuo commented on #68
Oh I see you made the entire file collection.go and hashtable.go arch-dependent, this is OK too but then there is too much duplication between the arch dependent files. Let me fix it later today.

[2017-02-12 14:01] archey commented on #68
@HouzuoGuo yeah my bad I can go back and fix it again, it just made more sense please fix whatever youd like

[2017-02-12 14:30] HouzuoGuo commented on #68
No worries at all, I fixed it in master, please run tests in your 32-bit system and see if they still succeed. If so, this bug report may be finally closed.

[2017-02-12 14:31] archey commented on #68
Will do

On Feb 12, 2017 9:30 AM, "Howard" <notifications@github.com> wrote:

[2017-02-12 15:22] archey commented on #68
@HouzuoGuo builds fine and tests pass, with flying colors

[2017-02-12 17:46] HouzuoGuo commented on #68
thanks very much, I'm glad to finally resolve this issue after 3 years 🧀

[2017-02-12 17:46] #68 closed

[2017-02-12 17:48] archey commented on #68
@HouzuoGuo no problem I wish I had seen it sooner. I think spinning up a i686 vm would of worked as well

[2017-02-12 18:06] archey commented on #57
@HouzuoGuo maybe this one can be solved now as well? So it can be fixed for good

[2017-02-12 18:36] HouzuoGuo commented on #57
@archey Good idea, but at the moment I'm working on some features in https://github.com/HouzuoGuo/websh. Are you feeling adventurous to add those examples to example.go?

[2017-02-15 09:00] kerneltravel commented on #94
[bleve-explorer](https://github.com/blevesearch/bleve-explorer) is a panel for bleve, a json-support fulltext indexer.

[2017-02-20 09:01] Vigneshr6 opened #125 "How to read and delete all documents one by one?"
I need to read a document and delete it immediately with forEach function.

[code]
the above code gives me this error

How to solve this?

[2017-02-20 09:16] HouzuoGuo commented on #125
Hello! Please avoid iteration and removal of documents at the same time. Save the IDs to a slice outside of the function, and then iterate over the IDs to remove documents.

[2017-02-22 04:47] Vigneshr6 commented on #125
ok @HouzuoGuo

[2017-02-27 11:54] #125 closed

[2017-02-27 12:00] Vigneshr6 opened #126 "Could not build for 32 bit windows from 64 bit"
Hi,
When I try to build my app for 32 bit machine from 64 bit machine,I am getting this error

Could u give me a solution for this?

[2017-02-27 12:57] HouzuoGuo commented on #126
just as a temporary workaround, try removing data/collection64.go along with data/hash64.go, does the problem disappear afterwards?

[2017-02-27 13:08] Vigneshr6 commented on #126
I think your solution will switch off 64 bit part.So It will work
Is there any permanent solution?

[2017-02-28 07:59] HouzuoGuo commented on #126
@archey do you by any chance remember why the build constraint mentions ARM? wasn't it written only for working around 32-bit vs 64-bit integers?
https://github.com/HouzuoGuo/tiedot/blob/master/data/collection64.go#L1

[2017-02-28 10:34] archey commented on #126
The buildconstraints was written so that if it wasnt 64 bit it would error
and not build. We added the 32bit code to build on arm and i686 as we were
having issues with uint code.

On Feb 28, 2017 2:59 AM, "Howard" <notifications@github.com> wrote:

[2017-02-28 10:58] archey commented on #126
If you don't add !arm as well as !386 to this file it will try to compile this on both 386 and arm, which are both  32bit systems and the code will fail. This constraints allows it to build on x86_64 processors, but it seems to cause issues if they are trying to x-compile 32bit on x86_64.

[2017-03-01 09:32] HouzuoGuo commented on #126
@archey aren't there 64-bit arm processors too? I suppose those systems won't have trouble with using the 64-bit definitions, is that right?

[2017-03-01 10:43] archey commented on #126
@HouzuoGuo possibly, but I was under the impression that all arm was 32bit as their is not a 64bit kernel yet. Let me do some more testing locally and see if  I can fix the cross-compile issues.

[2017-03-01 13:27] HouzuoGuo commented on #126
many thanks!

[2017-03-03 00:38] archey commented on #126
@HouzuoGuo in my testing this fixes the issue. @Vigneshr6 please try to rebuild from the latest git master

[2017-03-03 07:13] Vigneshr6 commented on #126
Hi @archey ,
Now it builds 32 bit.But It produces error for 64 bit.

[2017-03-03 09:23] HouzuoGuo commented on #126
@archey does it make sense to simply use constraint  "amd64" in _64 files, and write "!amd64" in _32 files?

[2017-03-03 10:54] archey commented on #126
@HouzuoGuo I tried that and it fails as well, I'll keep testing this is a pain. My apologies for adding this issue to your code

[2017-03-03 12:45] HouzuoGuo commented on #126
@archey no worries at all, I was the one who created the trouble initially.

[2017-03-03 12:57] HouzuoGuo commented on #126
@Vigneshr6 since you have both 32bit and 64bit systems on hand, do you know a proper way to define build constraints so that _32.go files are only compiled on 32bit system, and _64.go files are compiled on 64bit system?

[2017-03-03 13:01] Vigneshr6 commented on #126
No @HouzuoGuo  .
I have only 64 bit machine.After the latest commit.I am able build 32 bit binary from 64 bit machine.But I can't build for 64 bit binary from that same machine.

[2017-03-03 14:33] botherder commented on #126
FWIW, I get this same issues when doing a go get from a 64bit Debian.

[2017-03-03 15:14] HouzuoGuo commented on #126
@Vigneshr6 @botherder OK, I am not quite sure how go build constraints work in cross compilation scenario, can anyone of you please educate me on this topic, and hopefully get those build constraints sorted out soonish?

[2017-03-03 21:07] Enniari opened #127 "Istallation problem undefined: COL_FILE_GROWTH, HT_FILE_GROWTH,..."
Dear HouzuoGuo,
When I try to install "tiedot" I got these errors below:

`# github.com/HouzuoGuo/tiedot/data
src/github.com/HouzuoGuo/tiedot/data/collection.go:39: undefined: COL_FILE_GROWTH
src/github.com/HouzuoGuo/tiedot/data/hashtable.go:38: undefined: HT_FILE_GROWTH
src/github.com/HouzuoGuo/tiedot/data/hashtable.go:48: undefined: INITIAL_BUCKETS
src/github.com/HouzuoGuo/tiedot/data/hashtable.

[2017-03-04 08:17] HouzuoGuo commented on #126
@Vigneshr6  @botherder please try again with the latest master at https://github.com/HouzuoGuo/tiedot/commit/96fa90b5e4620f677d2737bc5358329040942adb

[2017-03-04 10:22] HouzuoGuo commented on #127
please try again using the latest master branch, does it now work?

[2017-03-06 12:39] Vigneshr6 commented on #126
@HouzuoGuo issue solved.Now I can build for win32,win64,linux64 and linux32 from a windows 64bit system.
Thanks

[2017-03-06 13:12] HouzuoGuo commented on #126
thanks for confirmation!
@archey how does it look for you? are you builds running fine too?

[2017-03-06 13:18] archey commented on #126
@HouzuoGuo works fine for me

[2017-03-06 13:26] HouzuoGuo commented on #126
great, then this issue is resolved.

[2017-03-06 13:26] #126 closed

[2017-03-06 13:26] HouzuoGuo commented on #127
this is most likely resolved in https://github.com/HouzuoGuo/tiedot/issues/126

[2017-03-06 13:26] #127 closed

[2017-03-28 16:03] jeromelesaux opened #128 "Question about queries"
Hi
I have a structure like this :

`map[string]interface{}{"Title": "my title", "Filenames": ["filepath","of","my","filename","extension"]}`

when I use a query like `[{"eq": "`+pattern+`", "in": ["Filenames"]}]` and if the pattern is "my" for instance,
The request returns me 0 result.

Do you know how I can write a query returns a result for one match among the string array ?

Sincerely

Jerome

[2017-03-29 06:57] HouzuoGuo commented on #128
Hello Jerome.

Unfortunately indexes won't be helpful in this use case, may I suggest to use a combination of collection scan (https://github.com/HouzuoGuo/tiedot/blob/master/db/col.go#L129) and `GetIn` function (https://github.com/HouzuoGuo/tiedot/blob/master/db/doc.go#L14) to extract values, and run regex filter on top of it?

[2017-03-29 08:48] jeromelesaux commented on #128
Thanks a lot
That's exactly what I'm looking for.

[2017-03-29 09:16] HouzuoGuo commented on #128
no worries at all

[2017-04-06 12:21] #128 closed

[2017-05-08 18:56] Ewan-GrandSlam opened #129 "Performance and capacity?"
I've been testing tiedot to use as an integrated storage options for one of my tools and have noticed issues with performance on inserts

I am testing inserts of 1000 rows at a time be executed concurrently and running this 10,000 times to give a total of 10,000,000 rows, I want to store approximately 120 collections each with 10-20 million or so rows.

I have 12 indexes and that probably makes pe

[2017-05-08 20:31] Ewan-GrandSlam commented on #129
I've definitely nailed it down to the indexes, without any indexes it takes 14 minutes to insert 10 million rows, however a single index alone takes 2-4x longer than the insert time to create

[2017-05-09 07:22] HouzuoGuo commented on #129
Hello Evan.

Sorry to hear that tiedot has so far failed to perform beyond 4 millions of records. University professors taught me "scenarios not covered by test case may be assumed not working", and it has indeed happened. I remember having conducted benchmark with 2 millions of records at most.

You are correct in saying that having large number of indexes will greatly impact collection performan

[2017-05-09 12:39] dweidenfeld opened #130 "[Q] Array indexing / querying"
I have the following structure
[code]

And want execute the following queries (SQL pseudo query syntax):
[code]
and
[code]

Is this possible right now?

[2017-05-09 18:22] #129 closed

[2017-05-10 13:40] HouzuoGuo commented on #130
Hello Dominik.

How about placing two indexes, one on path "ID" and the other on path "Parents"? Those indexes make the first query as straight forward as an index value lookup, and the second one can be achieved via individual value lookups or evaluation of union of value lookup results.

Check this out: https://github.com/HouzuoGuo/tiedot/wiki/Query-processor-and-index

[2017-05-14 15:42] dogancelik opened #131 "Binary Releases"
I see that [Releases page](https://github.com/HouzuoGuo/tiedot/releases) don't have binaries.

If you use [Goreleaser](https://github.com/goreleaser/goreleaser), you can provide binaries and not make user compile.

**Example:**

![example](https://cloud.githubusercontent.com/assets/486818/26035455/db7c9936-38d4-11e7-8c15-8b72061ba94c.png)

[2017-05-16 10:10] Komosa commented on #131
IMO: Binaries in repo will cause unnecessary size growth. But releasing in another repo/server will be great.

[2017-05-16 17:00] dogancelik commented on #131
Binaries are hosted by Github separately, it doesn't affect GIT repository size.

[2017-05-17 18:56] Komosa commented on #131
Nice to know, thanks!

So, I have no objections now :)

[2017-06-06 08:28] HouzuoGuo commented on #130
I hope your inquiry has been answered, feel free to come back with further questions.

[2017-06-06 08:28] #130 closed

[2017-06-06 08:29] HouzuoGuo commented on #122
I hope your inquiry has been answered, feel free to come back with further questions.

[2017-06-06 08:29] #122 closed

[2017-06-06 08:35] HouzuoGuo commented on #131
Thanks for all of your feedback, lately I have been quite busy with other projects, so I have to leave this one to our lovely collaborators and users to implement :smiley:

[2017-06-06 11:25] PlkMarudny opened #132 "Indexing an empty collection voids the index"
If I create a database, a collection and an index (on the empty collection), later on ther index is not updated, i.e. inserted documents are not indexed.

[2017-06-06 12:42] PlkMarudny commented on #132
This happens when index has a longer path, for example: a,b,c

[2017-06-06 12:47] HouzuoGuo commented on #132
Hello, are you sure that the document you're placing into the collection has an attribute located in the path? If you are indexing `a,b,c`, the value it looks for is located in `{"a": {"b": {"c": "value here"}}}`

[2017-06-06 13:02] PlkMarudny commented on #132
Hi, I am suspecting so. This is the begining of the document inserted into the db:
`{
 "Updated": false,
  "126847110970121761": {
    "TwitterTrend": {
      "AsOf": "2017-06-06T12:56:36Z",
      "CreatedAt": "2017-06-06T12:53:54Z",
      "Locations": [
        {
          "Name": "Kuwait",
          "Woeid": 23424870
        }
      ], .... (removed)`

Indexes are defined as follows:

`[
  [

[2017-06-06 13:55] PlkMarudny commented on #132
But when a create a simple example with only one composite index, it works.

[2017-06-07 09:04] PlkMarudny commented on #132
And when I create the test case using httt, it works... in code, no.

[2017-06-07 09:10] HouzuoGuo commented on #132
I see, there was a misunderstanding. tiedot does not handle composite index, an index only works on a set of attribute names that lead to an attribute value (or an array of values).

To find the "woeid" attribute value, the index path should be simply `["Updated", "TwitterTrend", "Locations", "Woeid"]`. When the document is placed into the collection, the value `23424870` will be indexed even thou

[2017-06-07 09:37] PlkMarudny commented on #132
I was not clear enough; one index is on "Updated", another one on ["TwitterTrend", "Locations", "Woeid"] that leads to "Woeid" I am interested in. The document (shortened) look slike below, so "Updated" field requires its own index (that works), but to index "Woeid" I need another one: TwitterTrend,Locations,Woeid.

`"4645211266929063441": {
    "TwitterTrend": {
      "AsOf": "2017-06-07T09:26:50

[2017-06-09 06:47] HouzuoGuo commented on #132
Oh, I wonder if you were hit by a Golang quirk in JSON serialisation of float.

When you query the records, do you deserialise a prepared query from JSON string into a structure, and then feed the structure to query function? Or do you construct a map[string]interface{} that represents a query manually? If you are doing it using the latter method, remember to convert an integer to float64, or the

[2017-07-20 02:09] goodforever opened #134 "Does the tiedot support cluster ?"
Does the tiedot  support cluster and  distributed?

[2017-07-21 09:12] HouzuoGuo commented on #134
Good morning.

For the use cases tiedot was tailored for, the performance from a single computer is quite sufficient, hence tiedot was not designed with clustering features.

[2017-07-31 02:55] prods commented on #91
I decided to work on this enhancement using [httprouter](https://github.com/julienschmidt/httprouter).

Below you will see my proposed set of routes. They may change, but this is just the starting point.

 Method | Routes                                              | Original Routes |
|--------|-----------------------------------------------------| ----------|
| POST   | /collection/:collection_n

[2017-07-31 06:43] HouzuoGuo commented on #91
Thanks very much @prods, please proceed with the proposal and I've added you to collaborator list.

Would it be more appropriate to use POST action for /sync, /shutdown, and /dump?

[2017-07-31 13:46] prods commented on #91
Thanks! and Yes, it makes perfect sense. Database engine specific operations should run on POSTS. I will update the route list and I will keep you posted. Let me know if you find anything else or you have any recommendation.

[2017-07-31 23:43] prods commented on #91
Below is an updated version of the API Routes.

| Method | Routes                                              | Original Routes | Status |
|--------|-----------------------------------------------------| ----------| ---------|
| GET    | /collections                                     | /all | **Tested** |
| POST   | /collection/:collection_name                     | /create |  **Tested** |
| PU

[2017-08-01 01:27] prods commented on #91
Adding. Below is a better list of proposed error objects.

**Collection Operations**
[code]

**Document Operations**
[code]

**Engine Operations**
[code]
_The error messages are not necessarily real. I added them in order to provide some examples._

Let me know.

[2017-08-01 03:26] prods commented on #91
Ok, just another update. I already created all the routes and successfully completed a first round of testing. Below you will see a few more changes in the proposal. As before I marked in bold the changes  and included some possible response payloads for functions that are silent today.

| Method | Routes                                              | Original Routes |  Request | Response | Status

[2017-08-01 08:07] HouzuoGuo commented on #91
Looks really good so far!

[2017-08-12 17:36] prods commented on #91
Just an update. This continues to move forward. Finding time here and there to complete it. You can take a pick at [My Fork Branch](https://github.com/prods/tiedot/tree/features/restful-api). The API is now fully working and I am close to jump into documentation and final testing. I will keep you posted.

[2017-08-12 17:46] prods commented on #91
Forgot mention, please  make sure to run it using the new boolean `use-new-api` argument. This will enable the new API. You will find a [postman collection](https://github.com/prods/tiedot/blob/features/restful-api/doc/tiedot.postman_collection.json) in the doc folder that you can use to test-drive it.

[2017-08-14 06:18] HouzuoGuo commented on #91
Many thanks for your effort, the code is looking very good already.

Would you mind creating a wiki article describing the usage of new API as well? Afterwards please merge the changes whenever you're ready.

I must admit that I have sounded quite lazy so far, not offering much help, my excuse would be that this project https://github.com/HouzuoGuo/laitos is keeping me busy at the moment.

[2017-08-15 01:34] prods commented on #91
No problem, already started working on the documentation. Will definitely add a Wiki article with all the details before merging the changes. Thanks! I will take a look at the other project, looks interesting from what I briefly saw.

[2017-08-15 07:02] HouzuoGuo commented on #91
thank You!
coincidentally, according to `cloc` program, the laitos project has 12345 lines of go code as of now :smile:

[2017-08-21 21:07] lukerodham commented on #94
Did this ever happen? I'm keen to help out if it did or start something if it didn't.

[2017-08-22 07:31] HouzuoGuo commented on #94
@lukerodham not much progress has been made in regards to making the control panel application. Your help would be very much appreciated!

[2017-08-22 13:15] sttyru opened #136 "Reduce an initial size of datastore."
Hello!

My issue linked with [that request](https://github.com/HouzuoGuo/tiedot/issues/124) but different :)

I want to run **tiedot** in a httpd mode at x64 VDS with reduced resources, such as disk space ( is no more dozen megabytes). In that regard, I want to reduce an initial size of datastore. At the moment, almost empty storage have a size in 384 Megabytes (it's contains only a one collection

[2017-08-23 09:19] HouzuoGuo commented on #134
Feel free to come back with more questions.

[2017-08-23 09:19] #134 closed

[2017-08-23 09:20] HouzuoGuo commented on #132
I hope it eventually worked well for you.
Feel free to come back with more questions.

[2017-08-23 09:20] #132 closed

[2017-08-23 09:20] HouzuoGuo commented on #120
I hope it worked out well for you. Feel free to come back with more questions.

[2017-08-23 09:20] #120 closed

[2017-08-23 09:33] HouzuoGuo commented on #136
Hello!

To me that was the single most important lesson on "today's constant is tomorrow's variable".

Check out this discussion for tips on altering hash table constants, although the discussion tries to increase hash table size, but using similar technique you can also reduce the hash table size:
https://github.com/HouzuoGuo/tiedot/issues/129

Adjusting collection data file is way easier than ha

[2017-08-23 16:15] sttyru commented on #136
Thank you so much for your speedy reply! :+1:

I will to try to change a value and to rebuild a bundle from sources. In my sorry, I can't found a page describing of building process of software. Does this action require some special settings?

[2017-08-24 08:38] HouzuoGuo commented on #136
No worries at all.

tiedot does not use any fancy un-official tool for building, `go build` alone is sufficient.

By the way, after having adjusted the hashtable and collection constants, please run all tests `go test -v ./...` in `data/` package, to ensure that parameters are working.

[2017-09-11 07:25] jeromelesaux opened #137 "slice bounds out of range on struct file"
I use Tiedot as embedded database on a raspberrypi (go version 1.8).
After a while, I got this panic :
panic: runtime error: slice bounds out of range

goroutine 217 [running]:
github.com/jeromelesaux/photo/vendor/github.com/HouzuoGuo/tiedot/data.OpenDataFile(0x10b32cc0, 0x2f, 0x800000, 0x10b32cf0, 0x6096f0, 0x10bfa360)
	/home/jls/godev/src/github.com/jeromelesaux/photo/vendor/github.com/HouzuoGuo

[2017-09-11 17:16] HouzuoGuo commented on #137
Hello Jerome.

Could you please take a look at the size of database directory? I wonder if a file had grown too large. Please check the file size and see if an index or collection data file grew beyond 2GB.

[2017-09-12 07:32] jeromelesaux commented on #137
if I check the size of the database directory I have got this :
 du -sh database_photo.db/
625M	database_photo.db/

161M	albums_collection
4,0K	number_of_partitions
465M	photos_collection

I haven't got a file beyond 2 gb.
Best regards

Jerome

[2017-09-15 07:20] jeromelesaux commented on #137
Do you need more informations ?
Do you need a special use case to reproduce ?

Best regards

Jerome

[2017-09-15 15:57] jeromelesaux commented on #137
just a last track, I haven't got this panic on linux 64bits.
Jerome

[2017-09-18 06:37] HouzuoGuo commented on #136
Feel free to come back if you have more questions.

[2017-09-18 06:37] #136 closed

[2017-09-18 07:09] HouzuoGuo commented on #137
Could you please use this branch https://github.com/HouzuoGuo/tiedot/tree/issue137 to run the source code, trigger the panic, and capture the log output for an analysis?

[2017-09-18 07:34] jeromelesaux commented on #137
of course I'll do.
I'll return the log.
Thanks
Jerome

[2017-09-18 08:28] jeromelesaux commented on #137
[app.zip](https://github.com/HouzuoGuo/tiedot/files/1310065/app.zip)
You will think in the attached file the log generated.
Best regards
Jerome

[2017-09-18 08:58] HouzuoGuo commented on #137
According to the log, a file's mapping buffer magically disappeared, please pull the latest issue137 branch and collect new logs once again.

[2017-09-18 11:04] jeromelesaux commented on #137
this the log file.
[app2.zip](https://github.com/HouzuoGuo/tiedot/files/1310446/app2.zip)

[2017-09-18 13:10] HouzuoGuo commented on #137
The log messages are saying that there are possibly two goroutines opening and operating on the database at the same time.

Is it possible for your application to call `OpenDB` once upon initialisation, and re-use the same DB pointer across all web handles?

In addition to that, i fixed a missing error return in issue137 branch, please pull the latest and see what kind of error is returned during

[2017-09-18 13:52] jeromelesaux commented on #137
thanks for your return. I do the modifications in my code.
Jerome

[2017-09-18 15:15] jeromelesaux commented on #137
Sorry for the time passed to find the issue origin.
Jerome

[2017-09-19 08:54] HouzuoGuo commented on #137
According to the captured log files, your application appears to be a web server that serves an API called `SaveGoogleConfiguration`, which I imagine may be invoked concurrently by web clients. There are traces of logs from what appears to be opening the database twice at the same time, therefore your issue most likely resides in web server application.

Does that sound about right?

[2017-09-19 09:11] jeromelesaux commented on #137
you're right.
I recode to use a singleton for connection to the database. No problems occurs until now.
You can close this issue.
Thank you for your answer.
best regards

Jerome

[2017-09-19 09:48] HouzuoGuo commented on #137
No worries, I'm glad it worked.

[2017-09-19 09:48] #137 closed

[2017-09-19 16:36] StephenMiracle opened #140 "limits, orders, creation dates.. the annoying stuff"
Hey, I'm starting to use Tiedot now in almost production environment of my project and the randomness of getting the data is starting to get to me. Also, I'm a little concerned about the lack of limits. At some point, it'll suck if someone tries to access some data collection and the query pulls back 10,000,000 rows in there right.. unless there isn't a performance hit for grabbing the documents

[2017-09-20 13:47] HouzuoGuo commented on #140
Till this day I still regret not being able to give tiedot a new index structure that'll support range queries, I implemented a skip list once upon a time but it did not perform well at all on disk, and since then my focus shifted away from DB engines.

Regarding query limit - indeed it will become a concern if a query incidentally touches millions of records, I have not yet studied how limit is i

[2017-10-05 07:45] torniker opened #141 "431 Request Header Fields Too Large"
Getting `431 Request Header Fields Too Large` when calling insert and passing about 300kb of data in doc.

Also would be nice if tiedot supported data passed using request body.

[2017-10-05 11:41] #141 closed

[2017-10-23 14:02] rababarber opened #143 "More complex documents can not be queried properly"
I'm experiencing strange behaviour when trying to query more complex JSON documents in embedded mode. When the document that is inserted inserted to tiedot is created from a string via json.Unmarshal() it can be queried successfully. In case it is created from a directly initialized object it can not be queried.

Example object is taken from the example in documentation:
[code]

Consider the follo

[2017-10-23 15:53] rababarber commented on #143
On further comparison of the objects created by direct initialization and `json.Unmarshal` I found that `[]string` need to be declared as `[]interface{}` in order for the insert to collection to succeed.
i.e. the object needs to be declared as:

[code]
which is, IMHO, kind of rather unintuitive.

[2017-10-24 10:04] HouzuoGuo commented on #143
Hello!

Terribly sorry about the inconvenience, here's the culprit:

https://github.com/HouzuoGuo/tiedot/blob/master/db/doc.go#L14

The function works very well for JSON documents deserialised from string, but as you have observed, unfortunately it does not have a match for `[]string`.

Reflection may come in handy in this case, but I have yet to understand the performance implication of reflectio

[2017-10-24 10:20] rababarber commented on #143
Thanks for the explanation.

On a second thought this might be not that big of a problem in practice as people are mostly (i would guess) piping the structs to be stored via `json.Marshal` -> `json.Unmarshal` to have map[string]interface{} for `Insert` method and this takes care of passing arrays correctly.

I found this when writing simple test program for tiedot evaluation and initialized  map[s

[2017-10-25 07:18] arnonym1 opened #144 "Bad hash table"
Hi,

i get the message "Bad hash table - repair ASAP /home/xxx/go/bin/onionscandb/relationships/Onion/0" after scanning an onion site with onionscan.

my system:
uname -a
Linux user 4.10.0-28-generic #32~16.04.2-Ubuntu SMP Thu Jul 20 10:19:48 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
C

[2017-10-25 08:01] HouzuoGuo commented on #144
Hello!
A broken hash table can be resulted from sudden system shutdown. Please make a backup of the entire database directory, and then run `Scrub()` function on the collection, here is an example:

https://github.com/HouzuoGuo/tiedot/blob/master/example.go#L58

[2017-11-06 15:49] agoalofalife opened #150 "no init variables"
https://github.com/HouzuoGuo/tiedot/blob/de5794a60cc20a5e5b3a673d4d20302290854170/main.go#L79

It seems to me but here forgotten variables
[code]

[2017-11-07 12:41] agoalofalife opened #151 "exclude some files from testing"
@HouzuoGuo  I think need want to exclude from testing those files :
[code]
Not much sense in testing them, you think?

[2017-11-07 13:15] HouzuoGuo commented on #151
absolutely agreed!

[2017-11-07 13:18] agoalofalife commented on #151
Any ideas how to eliminate?

[2017-11-07 13:45] HouzuoGuo commented on #151
just ignore them, i guess.
painfully working around tools to achieve 100% coverage is just redundant.

[2017-11-07 13:50] agoalofalife commented on #151
really not much left

[2017-11-08 10:02] agoalofalife opened #152 "Bag in type conversion"
https://github.com/HouzuoGuo/tiedot/blob/21707c0a3e12f008577d5384772fbd7ce9bb059d/httpapi/jwt.go#L244

if the first argument to pass type `type MapClaims map[string]interface{}`
example how here:

[code]
It `switch possibleSlice.(type) {` will return `interface{}`
accordingly, the function will never return true
[code]

I suggest so:
[code]

[2017-11-09 09:44] agoalofalife opened #153 "redundant code"
https://github.com/HouzuoGuo/tiedot/blob/f645f894cdde5c7b6c2aed00e30a19dc6fa8790d/db/db.go#L149
After the top checks that these two values cannot be the same:
- first argument will always when coll exist
- the second argument to if will be the same to `Collection %s already exists`

[2017-11-09 14:56] agoalofalife commented on #150
I decided

[2017-11-09 14:58] agoalofalife commented on #151
I moved them into separate folders and excluded from testing

[2017-11-09 14:59] #151 closed

[2017-11-09 15:07] HouzuoGuo commented on #150
many thanks

[2017-11-09 15:09] agoalofalife commented on #150
You're welcome

[2017-11-09 15:24] #150 closed

[2017-11-09 17:41] agoalofalife commented on #153
fix 06fe482cfe150f5c28b12054b3d5f6b8e1aeeb14

[2017-11-09 17:41] #153 closed

[2017-11-11 14:27] agoalofalife opened #154 "duplicate init"
https://github.com/HouzuoGuo/tiedot/blob/17a0c77af3023dea58989e78260b97540da7e2fa/db/col.go#L72

is duplicate row
field hts init here
https://github.com/HouzuoGuo/tiedot/blob/17a0c77af3023dea58989e78260b97540da7e2fa/db/col.go#L46

[2017-11-13 06:35] agoalofalife commented on #154
done https://github.com/HouzuoGuo/tiedot/commit/66910625830d0233da99fb72ae7b806befc09c73

[2017-11-13 06:35] #154 closed

[2017-11-13 09:20] HouzuoGuo commented on #154
thanks!

[2017-11-13 12:45] agoalofalife opened #155 "Delete old repository"
please remove the old repository https://github.com/tiedot/tiedot.github.io
I created a new documentation [new](https://github.com/agoalofalife/tiedot.github.io)

[2017-11-13 13:06] agoalofalife opened #156 "Add tiedot in codesponsor"
let's add tiedot in  [codesponsor.io](https://codesponsor.io/)
You return me id from codesponsor , i set in documentation

[2017-11-13 14:17] HouzuoGuo commented on #155
I've assigned you into collaborator's list at tiedot/tiedot.github.io

[2017-11-13 14:26] agoalofalife commented on #155
thanks

[2017-11-13 14:26] #155 closed

[2017-11-13 14:52] HouzuoGuo commented on #155
thank You

[2017-11-14 20:06] d1ngd0 commented on #124
Is there any reason these couldn't be configured using environmental variables?

[2017-11-15 08:07] HouzuoGuo commented on #124
It was an incorrect decision to make them constants in the beginning.

How about this: write down collection and hashtable parameters into a JSON or text file underneath database directory. If the file exists, the parameters from the file will be used to operate on collections; if it does not exist, the default value (the current constants) will be used instead, and the file shall be created and d

[2017-11-15 19:52] d1ngd0 commented on #124
Sounds like a plan, I will start working on a pr

[2017-11-15 20:48] HouzuoGuo commented on #124
Wonderful to hear! Many thanks for your help.

[2017-11-24 19:45] d1ngd0 commented on #124
#157 Added this, let me know what you think.

[2017-11-25 15:46] HouzuoGuo commented on #156
done in readme

[2017-11-25 15:46] #156 closed

[2017-12-22 01:38] HouzuoGuo opened #158 "Merry Christmas and happy new year!"
Wish all of you an exciting new year with plenty of opportunities and in great well-being!

Merry Christmas and happy new year!

Kind regards from Howard

[2017-12-22 05:49] agoalofalife commented on #158
@HouzuoGuo Thank you very much!

[2018-01-03 17:37] girishranganathanswi opened #159 "concurrent write and foreach not working as expected."
Hello,
I was playing with Tiedot and came across an interesting scenario.

Here is my code:
[code]

I tried this on a mac and a linux box and the behavior was exactly the same. Looks like foreach locks up after the first read.

[2018-01-03 21:50] HouzuoGuo commented on #159
Thanks for the feedback, there is an oversight in documentation, the input function may not modify data while iteration is taking place. For your use case, please use the iterator function to collect the document IDs to delete, and then delete each of them afterwards.

I shall note this down in the ForEachDoc function.

[2018-01-06 19:56] girishranganathan commented on #159
Thanks a lot

[2018-01-08 10:25] HouzuoGuo commented on #158
Been a good start so far!

[2018-01-08 10:25] #158 closed

[2018-03-21 09:59] frednomoon opened #162 "Question about result caching"
Hi there, I just thought I would ask a question relating to a strange problem I have with my application.

I have 2 services attempting to read/write to the same tiedot collection (although I realise this is not an ideal way to approach an application!). One services (call it A) is basically responsible for doing all the work, and the other service (call it B) simply does a quick check every few s

[2018-03-21 11:04] agoalofalife commented on #162
to record information on the disk is used [mmap](https://en.wikipedia.org/wiki/Mmap)
therefore entry does not occur instantly,
perhaps this is the reason

quote

but maybe I'm wrong

[2018-03-21 11:28] frednomoon commented on #162
@agoalofalife thanks for the quick response Ilya!

I'll expand on my explanation to say why I don't think that is the problem... In the situation I describe, service A adds a new Document which it is almost immediately able to read/ update etc. Despite service A being able to see the new document it has added, service B cannot see it. This situation persists until I restart service B (I have seen

[2018-03-21 11:53] HouzuoGuo commented on #162
Hello @frednomoon.
I am sorry to say that this use case is not well supported. `OpenDB` function is very expensive to call, it may take up to several seconds to finish for a large collection.

For your use case, please consider running an HTTP service on the server A and let server B use HTTP client to query for the new document.

[2018-03-21 11:54] agoalofalife commented on #162
I have not read the original code
I can try to guess again
maybe something is stored in memory, because the main use of using REST API
I think the addresses of the documents are stored in the buffer
you can write a function to fill or update the buffer
more details probably will answer @HouzuoGuo
In any case, good luck!

[2018-03-26 10:29] #162 closed

[2018-09-05 03:26] yanmingsohu commented on #124
[code]

[2018-12-07 10:22] Arthur380 opened #163 "My ID is storing in scientific notation"
Hello,
I have a problem with the storing of my auto generate ID.
I create my id like that :

[code]
My docID at this moment is ok.

But when i would to recovery this ID in others requests

[code]

I receive my ID in scientific notation and then i lost the last 3 characters.

Do you know how to disable scientific notation and only have int64?

Excuse me for my English.

Thanks

[2018-12-10 22:59] Quasilyte opened #164 "httpapi: suspicious condition in srv_test.go"
https://github.com/HouzuoGuo/tiedot/blob/791033267fb3d7b02f0465a2527e8048485ee506/httpapi/srv_test.go#L131

Looks like there is a mistake inside 3 recovers inside that file.
If `r` is `nil`, it can't match `sprintf` result, so there is something wrong here.
I would guess that `&&` should be changed to `||`, but `r == fmt.Sprintf(...)` also look incorrect.
Anyway, I don't have any context, it looks

[2018-12-14 15:55] beatscode commented on #163
I'm seeing the same behavior.
7549173353548515989 after insert becomes
7549173353548516000 after read
![image](https://user-images.githubusercontent.com/1777648/50013285-c3c97980-ff8e-11e8-8458-0b32d37c94a9.png)

[2018-12-17 15:46] Arthur380 commented on #163
I have resolve my issue by doing id = id / 1000 in the Insert function in doc.go
Thanks to this my id has the good size and then is not translate as scientific notation.

[2018-12-17 15:46] #163 closed

[2019-01-14 06:05] DumAdudus opened #165 "Func CreateOrReadConfig, config file is created but not closed"
https://github.com/HouzuoGuo/tiedot/blob/791033267fb3d7b02f0465a2527e8048485ee506/data/config.go#L60-L77

config file is created but not closed.

[2019-01-22 14:16] #165 closed

[2019-08-14 11:13] karterlizard opened #170 "does tiedot has max storage limit?"
It works well when I check it yesterday, it has stores 51GB data.
today it grows up to 61GB, it return nothing by http api, also by golang script.

[2019-08-14 14:09] HouzuoGuo commented on #170
You're right, I overlooked the maximum size limit and really should have put it in a wiki page somewhere - sorry about that. I wish I had a workaround for this, but cannot think of any right now.

[2020-01-16 07:33] piperun opened #172 "Add documentation for pull request #157"
In #157 from how I can interpret it, added json config feature to set how much space tiedot shall use when creating the database, yet there's barely any documentation for it afaik.

It would be nice if we could get some documentation for tiedot's database config beyond reading the pull request/issues related to the feature being implemented.

[2020-01-16 07:53] HouzuoGuo commented on #172
thanks, that would be a pretty good idea indeed!

[2020-01-29 11:05] codenoid commented on #152
how

[2020-02-22 17:02] dipakw opened #173 "Incremented record ID"
HouzuoGuo,

By incremented IDs, I mean ID 1 for first record, 2 for second record, 3 for third and so forth.

I am pretty interested in `tiedot`, played around it, I find it suitable for my project. One thing I am pretty annoyed of, is, it uses generated IDs. I looked into code and found that `rand.Int()` is used generate new ID.

To me, it would be awesome if there won't be any issues with increm

[2020-02-22 17:22] HouzuoGuo commented on #173
Thanks for your interest in this project @dipakw. That's a good suggestion, in fact I wish I had used that approach to begin with.

[2020-02-23 04:56] dipakw commented on #173
I appreciate your immediate response, HouzuoGuo. If I get extra hours to do it properly, and think like good to propagate to others as well, you might get pull request in the future.

[2020-02-23 07:17] HouzuoGuo commented on #173
many thanks for your contribution @dipakw !

[2020-03-30 17:02] fabaff opened #174 "Replace bou.ke/monkey"
`bou.ke/monkey` doesn't have a proper [license](https://github.com/bouk/monkey/blob/master/LICENSE.md).

I can't tell if this should be funny or not.

[code]

In any way this is a blocker for packaging `tidot` as RPM. A Fedora package should run checks during the build process and in the current we will not be able to include `bou.ke/monkey` which is a dependency for `tidot`.

Please consider to r

[2020-03-30 18:32] HouzuoGuo commented on #174
thanks for noticing the license issue, all test code that use bou.ke/monkey have been removed from master branch.

[2020-03-31 04:32] #174 closed

[2020-04-04 01:34] dsnezhkov opened #175 "Increase size of parsed doc"
Hi,  I am trying to load a 15-60Mb documents, and am running into error: `Document is too large. Max: 2097152, Given: 30801388` .

I traced it back to this configuration.
https://github.com/HouzuoGuo/tiedot/blob/4a5bb66e4be912b3752df0a9c7bd3303bac06faa/data/config.go#L12

Is there a technical reason for this limitation, and could it be increased? Would it be possible to expose some of the configur

[2020-04-04 01:41] dsnezhkov commented on #175
Modified `Config.DocMaxRoom = 100000000000` of the DB object coming from `db.OpenDB(myDBDir)`. Closing. Thank you.

[2020-04-04 01:41] #175 closed

[2020-05-20 10:39] adiroiban commented on #173
I think that rand.int() can also end up with a high probability of a conflict... so an UUID can help for unique / unpredictable ID.

[2020-05-30 15:24] fabaff commented on #174
Thank you for taking care about this.

[2020-07-22 18:19] iarkaroy opened #176 "Any plan on replication/sync?"
Thank you for this database. I have not done much with it yet (just played a little) but willing to use it in production.

From the docs, I suppose it does not support replication/sync, as of now. Do you have any plan for that so that it can be used alongside browser based offline database like pouchdb?

[2020-07-22 18:25] iarkaroy opened #177 "Indexing and range lookup on datetime"
I may have missed it in the doc. How can I index datetime fields and perform datetime range lookup?

[2020-08-05 07:44] Arthur380 opened #178 "Tiedot take a lot of storage"
Hello,

Recently I discovered that my Tiedot db take a lot of storage at the creation (9.3Go without datas and another one 21Go).
I deploy Tiedot via Kubernetes on a VM 64 bits and I don't understand why Tiedot take too much storage.
Apart from that, the database works well.
Have you already see something like that? What can produce this?

Next you can see a screen of one of my collections.

![col

[2020-08-07 04:45] HouzuoGuo commented on #178
Hello, thanks for evaluating tiedot! I'm afraid the tiedot project started as a programming exercise and it is no longer actively maintained, though to address the specific issue you described, please check this out:
https://github.com/HouzuoGuo/tiedot/pull/157
Also please be aware that the parameters once set cannot be changed (sorry!) and the parameters can only be applied in a brand new empty d

[2020-10-08 12:19] Arthur380 commented on #178
Thanks for your help it works fine by redefining the file data-config.json

[2020-10-08 12:19] #178 closed

[2020-11-20 17:46] phpfs commented on #46
Hey there - any news on adding a function to directly insert a struct? :)

[2020-11-20 18:05] HouzuoGuo commented on #46
thanks for your interest in this project @phpfs , this project started as a short programming exercise, i'm very sorry that i didn't have a chance to take it higher :|

[2021-09-05 06:52] jtbonhomme commented on #177
+1
Regarding the documentation, even after converting a date into timestamp/Unix time (e.g. int64), the only possible comparison can be made on integers.

Any chance to add more query operations?

[2021-09-05 17:41] HouzuoGuo commented on #177
Really appreciate your interest in this project! Though it has been practically dormant since 2016. I'm afraid the functionality has been rather minimal and tiedot is missing an index feature suitable for range queries. Sorry about that, I hope there are more embeddable DB engines out with richer feature set.

[2021-09-08 14:46] j-f-r commented on #176
+1 I could really use this also

[2022-08-04 23:24] MadOtis opened #179 ""Like" or Fuzzy search"
Could be a feature request if it's not already in place and I just can't find it in the docs, but is there (or could there be) something like a "fuzzy" search for documents?

For example, I might need to find all docs that have a "title" field that merely contains the word "Foo" without matching the entire "title" field.
Records like `{"title": "Foofighters in London", ".....}` would match when qu

[2022-08-05 06:18] HouzuoGuo commented on #179
Sorry! The project is now dormant and is no longer maintained :(